# Inheritence

Inheritance: Inheritance is a mechanism that allows a class to inherit properties (attributes and methods) from another 
class. The class that inherits is called the derived or child class, and the class from which it inherits is called the 
base or parent class. The derived class can access and use the attributes and methods of the base class, in addition to 
defining its own attributes and methods.

In Python, inheritance is achieved by specifying the parent class in parentheses after the derived class's name when 
defining the class. The derived class can then use the super() function to call the parent class's methods.

In [58]:
class Employee():
    
    def __init__(self,_name,_id,_basic_salary):
        self.name = _name
        self.empid = _id
        self.basic_salary = _basic_salary
        
    def band(self):
        if self.basic_salary > 500000:
            return 'A'
        return 'B'
    
class EmployeeTax(Employee):
    
    def __init__(self,_name,_id,_basic_salary,_hra,_pf,_travel,_tax):
        super().__init__(_name,_id,_basic_salary)
        self.hra = _hra
        self.pf = _pf
        self.travel = _travel
        self.tax = _tax
        
    def gross_salary(self):
         return self.basic_salary + self.hra + self.travel + self.pf + self.tax
    
    def taxation(self):
        income_tax = 0
        if self.gross_salary() < 500000:
            return income_tax
        elif 500000 < self.gross_salary() < 700000:
            income_tax = self.gross_salary() * 0.005
            return income_tax
        else :
            income_tax = self.gross_salary() * 0.01
            return income_tax
        
class NRIEmployeeTax(EmployeeTax):
    
    def __init__(self,_name,_id,_basic_salary,_hra,_pf,_travel,_tax):
        super().__init__(_name,_id,_basic_salary,_hra,_pf,_travel,_tax)
        
    def NRITaxation(self):
        income_tax = 0
        if self.gross_salary() < 500000:
            return income_tax
        elif 500000 < self.gross_salary() < 700000:
            income_tax = self.gross_salary() * 0.01
            return income_tax
        else :
            income_tax = self.gross_salary() * 0.02
            return income_tax

In [59]:
et1 = EmployeeTax('John',12,850000,85000,45000,450,200)
et2 = NRIEmployeeTax('Gayathri',12,850000,85000,45000,450,200)

In [60]:
print(et1.gross_salary())
print(et2.gross_salary())
print(et1.taxation())
print(et2.NRITaxation())

980650
980650
9806.5
19613.0

In [61]:
et1.name
print(et1.hra)

85000

In [92]:
et1._EmployeeTax__hra # ro access private attribute or functions
#instance._classname__attribute OR method

85000

# Polymorphism

Polymorphism refers to the ability of objects of different classes to respond to the same method invocation. It allows 
different objects to be treated uniformly by using a common interface, even though they may have different underlying 
implementations. In Python, polymorphism is achieved through method overriding and method overloading.

## method overriding

Method overriding: It occurs when a derived class defines a method with the same name as a method in the base class.
The derived class's method overrides the implementation of the base class's method, providing a specialized version.

In [1]:
class Father:
    
    def __int__(self):
        pass
    def Height(self):
        return f'Height : 5\'7'
    
    def Education(self):
        return f'Education : Degree'
    
    def last_name(self):
        return f'last name : Raparthi'
    
class Daughter(Father):
    
    def __int__(self):
        pass
    def Height(self):
        return f'Height : 5\'2'
    
    def Education(self):
        return f'Education : Engineering'
    
    
father = Father()
daughter = Daughter()

print(father.Education())
print(father.Height())
print(father.last_name())

print(daughter.Education())
print(daughter.Height())
print(daughter.last_name())

Education : Degree
Height : 5'7
last name : Raparthi
Education : Engineering
Height : 5'2
last name : Raparthi

In [5]:
class Shape:
    def area(self):
        pass

class Rectangle(Shape):
    def area(self):
        return self.length * self.width

class Circle(Shape):
    def area(self):
        return 3.14 * self.radius * self.radius

rect = Rectangle()
rect.length = 5
rect.width = 3
print(rect.area())  

circle = Circle()
circle.radius = 4
print(circle.area())

15
50.24

In [57]:
class language:
    
    def __init__(self):
        pass
    def say_hello(self):
        raise NotImplementedError('please enter child class')
        
class Telugu(language):
    def say_hello(self):
        #print("Namaskaram")
        return('Namaskaram')
    
class English (language):
    def say_hello(self):
        return 'Hello'
    
def intro(obj):
    return obj.say_hello()
    
Gayathri= Telugu()
John = English()

print(intro(Gayathri))
print(intro(John))

Namaskaram
Hello

## method overloading

Method overloading: Python does not support traditional method overloading (multiple methods with the same name but 
different parameter signatures), as supported in some other programming languages. However, you can achieve a form of
method overloading by using default argument values and conditional logic inside a method.

In [9]:
class Maths:
    
    def add(self, a, b, c = 0, d = 0, e= 0):
        return a + b + c + d + e
    
math = Maths()
print(math.add(5, 2))      
print(math.add(5, 3, 4))
print(math.add(5, 3, 4, 5))
print(math.add(5, 3, 4, 5, 6))

7
12
17
23

In [2]:
print('Hello')

Hello

In [12]:
class VIP:
    
    def vsp(self, a = None, b=None):
        if b is None and a is None:
            return f'This is Over loading Example'
        elif a!= None and b == None:
            fac = 1
            for i in range (a+1):
                fac *= i
                return f'Factorial of {a} is {fac}'    
        else:
            return f'Addition of {a} and {b} is ', a + b
        
obj = VIP()

print(obj.vsp()) 
print(obj.vsp(5))      
print(obj.vsp(5, 3))

This is Over loading Example
Factorial of 5 is 0
('Addition of 5 and 3 is ', 8)

In [2]:
import pandas as pd

In [20]:
df1 = pd.DataFrame({'col1':[1,2,3,4],'col2':['a','b','c','d']})
df2 = pd.DataFrame({'col1':[1,2,3,4],'col4':['1a','1b','1c','1d']})
df = pd.concat([df1,df2],axis = 0)
df

   col1 col2 col4
0     1    a  NaN
1     2    b  NaN
2     3    c  NaN
3     4    d  NaN
0     1  NaN   1a
1     2  NaN   1b
2     3  NaN   1c
3     4  NaN   1d

In [21]:
df = pd.concat([df1,df2],axis = 1)
df

   col1 col2  col1 col4
0     1    a     1   1a
1     2    b     2   1b
2     3    c     3   1c
3     4    d     4   1d

In [39]:
a = df1.join(df2,how = "left",on ="col1",  lsuffix='_left', rsuffix='_right')
a

   col1_left col2  col1_right col4
0          1    a         2.0   1b
1          2    b         3.0   1c
2          3    c         4.0   1d
3          4    d         NaN  NaN

In [36]:
a = pd.merge(df1,df2,on = "col1")
a

   col1 col2 col4
0     1    a   1a
1     2    b   1b
2     3    c   1c
3     4    d   1d