# INTRODUCTION TO PYTHON FINAL EXAM

# SECTION A: 20 MARKS

 _________________

#### 1. Ram built his own house and was confused about what name he should keep for it. He asked his friend Shyam to help. Shyam suggested a lot of names. Ram has certain conditions for the name:  (5 marks)                                                                                                                      
•	It should consist of exactly three distinct characters, say C1, C2 and C3
•	It should satisfy the criteria that the string was of the form - C1n C2n C3n: This means, first C1 occurs n times, then C2 occurs n times and then C3 occurs n times. For example, xyz, ccaarr, mmmiiiaaa satisfy the criteria, but xyzw, aabbbcccc don't.
Given N names suggested by Shyam, print "OK" if Ram likes the name and "Not OK" if he doesn't.

•	Input:
First-line contains a single positive integer N - the number of names.
N lines follow - each line contains a name.
o	
Output:
For each name, Print "OK" if the name satisfies the criteria, else print "Not OK", on a new line.
Constraints:
1 ≤ N ≤ 100 1 ≤ Length of names ≤ 500
Names contain only lowercase English alphabets

SAMPLE INPUT
2

bbbrrriii

brian

SAMPLE OUTPUT

OK

Not OK

In [3]:
names = ["bbbrrriii","brian","xyz","xyzw","ccaarr","mmmiiiaaa","mjmmjiii"]
names_3char = []
for name in names:
    name_list = [i for i in name]
    if len(set(name_list)) == 3:
        names_3char.append(name)
    else:
        print(name,"- not okay")
for name in names_3char:
    letter_count = {}
    for i in name:
        letter_count[i] = name.count(i)
    values = list(letter_count.values())
    keys = list(letter_count.keys())
    if values[0] == values[1] == values[2]:
        print(name,"- okay")
    else:
        print(name," - not okay")

brian - not okay
xyzw - not okay
bbbrrriii - okay
xyz - okay
ccaarr - okay
mmmiiiaaa - okay
mjmmjiii  - not okay

#### 2. You are  working with NASA and suddenly you got an opportunity to travel to the moon. You have to stay there for 15 years.
 
 Exercise1: You have to calculate your weight in kilograms on the moon in a period of 15 years,(3 marks)
 
 Step1: Measure your Weight on the Moon and also create a variable to store it. Assume your starting weight:30
 
● For each year, you can calculate the new weight by adding a kilogram, and then multiplying by 6.5 percent (0.65) to get the weight on the moon:
 
 Exercise2: Create basic Moon Weight Function: The function should take two parameters: current weight:30 and increased weight:0.5 (the amount the weight will increase each year)   (2 marks)
 
 Note: moon_weight = weight * 0.65

In [21]:
# Exercise1
weight = 30
moon_wt_info = {}
for i in range(1,16):
    weight += 1
    moon_weight = round(weight * .65,2)
    moon_wt_info[i] =  moon_weight
moon_wt_info

{1: 20.15,
 2: 20.8,
 3: 21.45,
 4: 22.1,
 5: 22.75,
 6: 23.4,
 7: 24.05,
 8: 24.7,
 9: 25.35,
 10: 26.0,
 11: 26.65,
 12: 27.3,
 13: 27.95,
 14: 28.6,
 15: 29.25}

In [39]:
#Exercise2
def Moon_weight(weight,inc_weight):
    #weight += inc_weight
    moon_weight = round(weight * .65,2)
    return moon_weight

In [40]:
wt = 30
inc_wt = 1
moon_wt_info = {}
for i in range(1,16):
    wt += inc_wt
    moon_wt_info[i] = Moon_weight(wt,inc_wt)
    
print(moon_wt_info)

{1: 20.15, 2: 20.8, 3: 21.45, 4: 22.1, 5: 22.75, 6: 23.4, 7: 24.05, 8: 24.7, 9: 25.35, 10: 26.0, 11: 26.65, 12: 27.3, 13: 27.95, 14: 28.6, 15: 29.25}

#### 3. A famous hotel is maintaining its order history in the dictionary in the given format. Find out which food item is ordered the most (5 Marks)

 order_id: [list of items ordered]
 
 order_history= {165:['Noodles','Tomato Soup','Fries'],168:['Rice Idli','Rawa Dosa','Fries'],190:['Fries','Noodles']}

In [1]:
order_history= {165:['Noodles','Tomato Soup','Fries','Drink'],168:['Rice Idli','Rawa Dosa','Fries'],190:['Fries','Noodles']}
count_items ={'Noodles':0,'Tomato Soup':0,'Fries':0,'Rice Idli':0,'Rawa Dosa':0,}

for order_id in order_history:
    for item in order_history[order_id]:
        if item in count_items.keys():
            count_items[item] += 1 
max_item = max(count_items.keys(),key = lambda x:x[1])
print(count_items.keys())
print(max_item)
# print(count_items)

dict_keys(['Noodles', 'Tomato Soup', 'Fries', 'Rice Idli', 'Rawa Dosa'])
Fries

#### 4. Write a Python program to make a currency converter. The currency converter should be able to convert a specific currency to an appropriate INR (Indian National Rupee) value. (5 MARKS)
 1. USD (U.S Dollars) (1 USD =71.83 INR)
 2. YEN (Japanese YEN)  (1 YEN= 0.66 INR
 3. EURO (1 EURO=79.57 INR) 
 4. U.K. POUND (1 U.K POUND=93.11 INR)
  
 INPUT AND OUTPUT SAMPLE:
 
 Enter the currency which you want to convert. e.g. USD
 
 Enter the value of the currency which you want to convert. e.g. 100
 
 The total converted value is 7183.0

In [12]:
currency = {"USD":70.83,"YEN":0.66,"EURO":79.57,"U.K POUND":93.11}

currency_type = input("enter any one currency type from USD,YEN,EURO,U.K POUND:")
amount_to_convert = float(input("enter any amountto be converted in number:"))

if currency_type in currency:
    amount_in_rupees = round(amount_to_convert * currency[currency_type],2)
    print(amount_in_rupees)

enter any one currency type from USD,YEN,EURO,U.K POUND:USD
enter any amountto be converted in number:50
3541.5

# SECTION B: 20 MARKS

---------------------

#### 5. A Basket of Halloween candy has an unknown amount of candy and you need to guess exactly how much candy is in the bowl. You ask the person in charge a few questions to make a correct guess. If the candy is divided evenly among 5 people, how many pieces would be leftover? The answer is 2 pieces. You then ask about dividing the candy evenly among 6 people, and the amount left over is 3 pieces. Finally, you ask about dividing the candy evenly among 7 people, and the amount left over is 2 pieces. By looking at the bowl, you can tell that there are less than 200 pieces. Write a program to determine how many pieces are in the bowl.             (10 Marks)
    	
   1. SAMPLE INPUT:
If the candy is divided evenly among 5 people, how many pieces would be leftover?
2

If the candy is divided evenly among 6 people, how many pieces would be leftover?
3

If the candy is divided evenly among 7 people, how many pieces would be leftover?
2

  1. SAMPLE OUTPUT:
Number of candies in the jar: 177


  2. SAMPLE INPUT :
If the candy is divided evenly among 5 people, how many pieces would be leftover?
2

If the candy is divided evenly among 6 people, how many pieces would be leftover?
4

If the candy is divided evenly among 7 people, how many pieces would be leftover?
2

  2. SAMPLE OUTPUT :
Number of candies in the jar: 142

In [27]:
people_and_leftOver = {5: int(input("leftover after sharing 5 people:")),
                       6: int(input("leftover after sharing 6 people:")),
                       7: int(input("leftover after sharing 6 people:"))}
for candies in range(1,200):
    if candies < 200 and candies % 5 == people_and_leftOver[5] and candies % 6 == people_and_leftOver[6] and candies % 7 == people_and_leftOver[7]:
        print(candies)

leftover after sharing 5 people:2
leftover after sharing 6 people:3
leftover after sharing 6 people:2
177

#### 6.generated multiplication questions to do. After each, the program should tell them whether they got it right or wrong and what the correct answer is and finally it should display the total score out of 10 scored by a user.(10 marks)                                     For Example: 
 Question 1: 3 x 4 = 12 Right! 
 
 Question 2: 8 x 6 = 44 Wrong. The answer is 48. 
 
 ... 
 
 Question 10: 7 x 7 = 49 
 
 Right.

In [17]:
questions = ["3 X 4 =","3 X 5 =","3 X 6 =","3 X 7 =","3 X 8 ="]
answers = {"3 X 4 =": 12 ,"3 X 5 =" : 15 ,"3 X 6 =" : 18,"3 X 7 =" : 21,"3 X 8 =":24}
Score = 0
for i in questions:
    answer = int(input(i))
    if answer == answers[i]:
        print("Right")
        Score += 1
    else:
        print(f"Wrong. The answer is {answers[i]}")
print(f"Your total score is {Score}/5")

3 X 4 =15
Wrong. The answer is 12
3 X 5 =15
Right
3 X 6 =18
Right
3 X 7 =21
Right
3 X 8 =25
Wrong. The answer is 24
Your total score is 3/5

# SECTION C: 30 MARKS

 _________________

### 7. Write a Python Program to create the following series and then print the nth Prime number from the Series,0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89... (15 Marks)


INPUT:8

OUTPUT:28657

In [60]:
n = int(input("number:"))
l = [0,1]
prime_list = []
for i in range(0,n):
        next = l[i] + l[i+1]
        l.append(next)
for n in l:
    if n == 1 or n == 2:
        prime_list.append(n)
    else:
        for z in range(2,n):
            if n % z == 0:
                break
        else:
            prime_list.append(n)
print(l)            
print(prime_list)  
print(prime_list[10])

number:25
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393]
[0, 1, 1, 2, 3, 5, 13, 89, 233, 1597, 28657]
28657

In [74]:
term = int(input("number:"))
fib_list = [0,1]
prime_list = []
Flag = True
while Flag:
    while len(prime_list) < term:
        next = fib_list[-1] + fib_list[-2]
        fib_list.append(next)
        
        if next == 1:
            pass
        else:
            for i in range(2,int(next/2)):
                if next % i == 0:
                    break
            else:
                prime_list.append(next)
                           
        if len(prime_list)+1 == term-1:
            Flag = False
        
print(fib_list)
print(prime_list)

number:8
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657]
[2, 3, 5, 13, 89, 233, 1597, 28657]

### 8. Write a program that converts Roman numerals into ordinary numbers. Here are the conversions: M=1000, D=500, C=100, L=50, X=10, V=5 I=1. Don’t forget about things like IV being 4 and XL being 40.(15 marks)
 

Integer numbers and their Roman equivalent:

1000 : 'M'

900 : 'CM'

500 : 'D'

400 : 'CD'

100 : 'C'

90 : 'XC'

50 : 'L'

40 : 'XL'

10 : 'X'

9 : 'IX'

5 : 'V'

4: 'IV'

1: 'I'

SAMPLE INPUT:

Enter number to Convert: 417

SAMPLE OUTPUT:

CDXVII

In [16]:
roman_values = {5000: "G",1000 : "M", 900 :"CM",500 :"D", 400 :"CD", 100 :"C", 90 : "XC" ,50 : "L" ,40 : "XL" , 
                10 :"X",9 : "IX",5 : "V", 4 : "IV", 1 :"I"}
output = []
int_list = list(roman_values.keys())
roman_list = list(roman_values.values())

sample = int(input("any number:"))

for i in range(len(int_list)):
    x = sample //int_list[i]
    sample = sample % int_list[i]
    output.append(roman_list[i] * x) 
    
output = "".join(output) 
print(output)

any number:8944
GMMMCMXLIV