# INTRODUCTION TO PYTHON MID EXAM

# Total -  50 Marks

# SECTION A: 8 MARKS

 _________________

### 1.What are the Immutable and Mutable built-in datatypes of Python Explain the feature immutable with suitable code(8 Marks)

#### Immutable data types: any data type once after creating on which create,delete,update operations are not possible examples: str,int,float,tuple,frozen set

In [1]:
t = (1,2,3,4)
t[0] =1
t

TypeError: 'tuple' object does not support item assignment

In [2]:
s = "string"
s[0] = "o"
s

TypeError: 'str' object does not support item assignment

#### Mutable data types: any data type once after creating on which create,delete,update operations are possible examples: list,dict,set

In [4]:
l = [1,2,3,4]
l[2] = 5 # update of element at 2 index
l

[1, 2, 5, 4]

# SECTION B: 17 MARKS

---------------------

### 2. Write a program for binary algebra. Accept two numbers. Convert them to binary and display addition and substraction? ( 7 Marks)

In [10]:
x = 10
y = 5
#add = bin(x) + bin(y)
add = bin(x + y)
substract = bin(x - y)
print(bin(x))
print(bin(y))
print(add)
print(substract)

0b1010
0b101
0b1111
0b101

### 3.Write a code to accept full name as a combination of first name and last name seperated by space. Accept gender from user. Add appropriate salutation (Mr./Ms.) to the name. Display the output as given below? (5 Marks)

In [14]:
full_name = input("enter first name :") + " " + input("enter second name :")
gender = input("Male or Female:")
if gender == "Male":
    print("Mr. ",full_name)
elif gender == "Female":
    print("Ms. ",full_name)
else:
    print("inavalid input")

enter first name :Gayathri
enter second name :Raparthi
Male or Female:Female
Ms.  Gayathri Raparthi

### 4.  Write a code to add “alpha”:26 to the existing dictionary. (5 Marks)
dic={'Eddy':13,'Maria':44,'Jas':21}

In [18]:
d ={'Eddy':13,'Maria':44,'Jas':21}
#d["alpha"] = 26
d.update({"alpha":26})
d

{'Eddy': 13, 'Maria': 44, 'Jas': 21, 'alpha': 26}

# SECTION C: 25 MARKS

### 5. Write a python program. Suppose the input=6 Then, the output should be:
### {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36} (5 Marks)

In [26]:
n = int(input("enter number:"))
integer = [i for i in range(1,n)]
square = [i**2 for i in range(1,n)]

dictionary = dict(zip(integer,square))
dictionary

enter number:7

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### 6. Write a code to find the factors of  a given number? Write Recursive and non-recursive codes (10 Marks)

In [28]:
n = int(input("enter a number:"))
for i in range(1,n+1):
    if n % i == 0:
        print(i,end = " ")

enter a number:25
1 5 25

In [ ]:
def fact(n):
    i = 1
    l = []
    if i < n and n % i  == 0:
        l.append(i)
        i += 1
        #return fact()
    else:
        return l
        
fact(10)

In [ ]:
def fact(n):
    l =[]
    div = n // 2
    l.append(div)

### 7. For a given nested list find out the maximum element and calculate average of all elements. Use the given list?         list1 = [[20,25,30],[10,15,18],[12,45,20],35,20,23,28] (10 Marks)

In [39]:
l = [[20,25,30],[10,15,18],[12,45,20],35,20,23,28] 
l1 =[]
for i in l:
    if type(i) == list:
        l1.extend(i)
    else:
        l1.append(i)
        
print(max(l1))
print(sum(l1)/len(l1))

45
23.153846153846153