# INTRODUCTION TO PYTHON MID EXAM

# SECTION A: 5 MARKS

 _________________

### 1. What is the difference between append() and extend() methods? (5 Marks)

In [1]:
#append():append is a method of list,used to add element one at a time,if we add group of elements it is also added 
#as an element only.
#extend():extend is a method of list,used to group of elements one by one.

In [2]:
list1 = [1,2,3,4,5]
#append
for i in [6,7,8,9,(10,11,12,13)]:
    list1.append(i)
print("list1 after appending:",list1)
#extend
for i in [(14,15,16)]:
    list1.extend(i)
print("list1 after extending:",list1)

list1 after appending: [1, 2, 3, 4, 5, 6, 7, 8, 9, (10, 11, 12, 13)]
list1 after extending: [1, 2, 3, 4, 5, 6, 7, 8, 9, (10, 11, 12, 13), 14, 15, 16]

# SECTION B: 10 MARKS

---------------------

### 2. Write a program to create a dictionary as follows ? (5 Marks)




  **OUTPUT:**  * {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [3]:
d = {}
for i in range(1,16):
    d[i] = i ** 2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### 3. Write a program to Check if a given number is a Palindrome or not? (5 Marks)

In [2]:
num = int(input('enter a number:'))
num1 = str(num)
if num1[::] == num1[::-1]:
    print(num," is a palindrome")
else:
    print(num," is not a palindrome")

enter a number:23564
23564  is not a palindrome

# SECTION C: 15 MARKS

--------------------

### 4. Python program which  generate a list and a tuple which contains every number.Suppose the following  (5 Marks)
    
    input = 23,56,76,12,87 Then, the output should be:

    ['23', '56', '76', '12', '87']

    ('23', '56', '76', '12', '87')

In [29]:
input1 = 23,56,76,12,87
print(type(input1))
l = []
for i in input1:
    l.append(i)
print(l)
t = tuple(l)
print(t)

<class 'tuple'>
[23, 56, 76, 12, 87]
(23, 56, 76, 12, 87)

In [44]:
input_number = input('Enter number 23, 56, 76, 12, 87 :').split()
print(type(input_number))

TypeError: 'tuple' object is not callable

### 5.  Write a code to print “Python” for multiples of three instead of the number, “Coding” for the multiples of five, “Python Coding” for multiples of both three and five (range is from 1 to 26). (10 Marks)

In [45]:

for i in (range(1,26)):
    if i % 3 == 0 and i % 5 == 0:
        print(i,'Python Coding')
    elif i % 3 == 0:
        print(i,"Python")
    elif i % 5== 0:
        print(i,"Coding")
    else:
        pass

3 Python
5 Coding
6 Python
9 Python
10 Coding
12 Python
15 Python Coding
18 Python
20 Coding
21 Python
24 Python
25 Coding