# INTRODUCTION TO PYTHON MID EXAM

# Total -  50 Marks

# SECTION A: 8 MARKS

 _________________

### 1.What are the Immutable and Mutable built-in datatypes of Python Explain the feature immutable with suitable code(8 Marks)

#### Immutable datatypes

The datatypes in which the data connot be changed or modified are called as 'Immutable datatypes'.
The immutable objects in python are 'String', 'Tuple', 'Set'.

In [2]:
#Example for Immutable datatypes:
#Strings : 
example1 = 'python'
example1[0] = 'P'
example1

#Here changing 'p' to 'P' is trowing error as string are immutable

TypeError: 'str' object does not support item assignment

In [3]:
#Tuple
example2 = ('Python', 'is', 'my', 'favorite')
example2[0] = 'Data Science'

#Here changing 'Python' to 'Data Science' is trowing error as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [4]:
#set
example3 = {1, 2, 3, 4, 5}
example3[0] = 999

#Here changing '1' to '999' is trowing error as sets are unhashable. so updating also not possible . hence sets are also immutable.

TypeError: 'set' object does not support item assignment

#### Mutable datatypes

The datatypes in which the data can be modified/updated are called as 'Mutable datatypes'. 
Mutable objects in python are 'Lists', 'Dictionaries'.

In [5]:
#Lists
example4 = [1,2,3,4,5]
example4[0] = 999
example4

#Here we can see 999 is updated in the list in place of 1 . So lists are mutable.

[999, 2, 3, 4, 5]

In [6]:
#Dictionaries
example5 = {'1':'python', '2':'java', '3':'C++'}
example5['2'] = 'SQL'
example5

#Here we can see 'java' is updaed with 'SQL'. So dictionaries are also mutable.

{'1': 'python', '2': 'SQL', '3': 'C++'}

# SECTION B: 17 MARKS

---------------------

### 2. Write a program for binary algebra. Accept two numbers. Convert them to binary and display addition and substraction? ( 7 Marks)

**** Expected Output ****
Enter first number3
Enter second number4
Binary equivalent of number1 0b11
Binary equivalent of number2 0b100
Addition is = 0b110b100 Substraction is = -0b1

In [2]:
number1 = int(input('Enter first number : '))
number2 = int(input('Enter first number : '))
bin_number1 = bin(number1)
bin_number2 = bin(number2)
print('Binary equivalent of number1 : ', bin_number1)
print('Binary equivalent of number2 : ', bin_number2)
print('Addition is =', str(bin_number1) + str(bin_number2), 'Substraction is =',bin(number1-number2))

Enter first number : 3
Enter first number : 4
Binary equivalent of number1 :  0b11
Binary equivalent of number2 :  0b100
Addition is = 0b110b100 Substraction is = -0b1

### 3.Write a code to accept full name as a combination of first name and last name seperated by space. Accept gender from user. Add appropriate salutation (Mr./Ms.) to the name. Display the output as given below? (5 Marks)

**** Expected Output ****
Enter Full name as first name last namesani sharma
Enter Gender (Male/Female)female
Dear Ms.Sani, How are you?

In [5]:
first_name, last_name  = input('Enter Full name as first name last name').split()
gender = input('Enter Gender (Male/Female)')
output_gender = ''
if gender == 'female':
    output_gender = 'Ms'
else:
    output_gender = 'Mr'
print(f'Dear {output_gender}.{first_name}, How are you?')

Enter Full name as first name last namesani sharma
Enter Gender (Male/Female)female
Dear Ms.sani, How are you?

### 4.  Write a code to add “alpha”:26 to the existing dictionary. (5 Marks)
dic={'Eddy':13,'Maria':44,'Jas':21}

In [6]:
dic={'Eddy':13,'Maria':44,'Jas':21}
dic['alpha'] = 26
dic

{'Eddy': 13, 'Maria': 44, 'Jas': 21, 'alpha': 26}

# SECTION C: 25 MARKS

### 5. Write a python program. Suppose the input=6 Then, the output should be:
### {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36} (5 Marks)

In [7]:
number = int(input('Enter a number : '))
output_dict = dict()
for i in range(1, number+1):
    output_dict[i] = i**2
    
output_dict

Enter a number : 6

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### 6. Write a code to find the factors of  a given number? Write Recursive and non-recursive codes (10 Marks)

In [4]:
input_number = int(input('Enter a number to find its factors : '))

Enter a number to find its factors : 40

#### Recursive Code

In [5]:
factors = []
for i in range(1, input_number+1):
    if input_number%i == 0:
        factors.append(i)
    
print(f'Factors of {input_number} are ', factors)

Factors of 40 are  [1, 2, 4, 5, 8, 10, 20, 40]

#### Non - recursive code

In [7]:
def fact(num):
    final_list = []
    for i in range(1, num+1):
        if num%i == 0:
            final_list.append(i)
    return(final_list)

print(f'Factors of {input_number} are ', fact(input_number))

Factors of 40 are  [1, 2, 4, 5, 8, 10, 20, 40]

### 7. For a given nested list find out the maximum element and calculate average of all elements. Use the given list?         list1 = [[20,25,30],[10,15,18],[12,45,20],35,20,23,28] (10 Marks)

**** Expected OUtput ****
The maximum of the nested list is 45
The average is 23.15

In [40]:
list1 = [[20,25,30],[10,15,18],[12,45,20],35,20,23,28]
out_list1 = []
for i in list1:
    if (type(i) == int):
        out_list1.append(i)
    else:
        for j in range(len(i)):
            out_list1.append(i[j])
print(f'The maximum of the nested list is {max(out_list1)}')
print('The average is', round(sum(out_list1)/len(out_list1),2))

The maximum of the nested list is 45
The average is 23.15