In [3]:
#Write a program to add and subtract two numbers
a = 20
b = 10
add = a + b
if a > b:
    substract = a - b
    
else:
    substract = b - a
    
print(add)
print(substract)

30
10

In [4]:
#Write a program to multiply and divide two numbers.
multiplication = a * b
division = a/b
print(multiplication)
print(division)

200
2.0

In [5]:
'''Write a program to find the square and cube of a given number'''
square = a ** 2
cube = b ** 3
print(square)
print(cube)

400
1000

In [6]:
#Write a program to find the square root of a given number.
sqrt = a ** .5
print(sqrt)

4.47213595499958

In [8]:
#Write a program to find the area and perimeter of a square.
side = float(input('enter side of square :'))
area_square = side * side
perimeter_square = side *4
print(area_square)
print(perimeter_square)

enter side of square :5
25.0
20.0

In [9]:
#Write a program to find the area and circumference of a circle.
radius = float(input('enter radius :'))
from math import pi
area_circle = pi * (radius ** 2)
circumference = 2 * pi * radius
print(area_circle)
print(circumference)

enter radius :5
78.53981633974483
31.41592653589793

In [16]:
#Write a program to find the area of a sphere.
radius = float(input('enter radius :'))
area_sphere = 4 * pi * (radius ** 2)
print(area_sphere)

enter radius :2
50.26548245743669

In [18]:
# Write a program to find the volume of a cylinder.
radius = float(input('enter radius :'))
height = float(input('enter height :'))
volume_cylinder = pi * (radius ** 2) * height
print(volume_cylinder)

enter radius :2
enter height :3
37.69911184307752

In [19]:
#Write a program to find your age in days.
age = float(input('enter age in yrs :'))
age_in_days = age * 365
print(age_in_days)

enter age in yrs :27
9855.0

In [22]:
#Write a program to find the simple interest and compound interest.
principle = float(input('enter in rupees :'))
tenure = float(input('enter in yrs :'))
intrst = float(input('enter in decimal :'))
simple_interest = principle * tenure * intrst
compound_interest = (principle *(1 + intrst )  ** tenure ) - principle
print(simple_interest)
print(compound_interest)

enter in rupees :1000
enter in yrs :2
enter in decimal :2
4000.0
8000.0

In [3]:
#Write a program to convert speed of a vehicle given in km/hour to miles/hour.
speed_kmperhr = float(input('enter speed in km/hr :'))
speed_milesperhr = speed_kmperhr * 0.62137
speed_milesperhr

enter speed in km/hr :5

3.1068499999999997

In [30]:
'''Write a program to convert the given seconds into hours – minutes – seconds.'''
time_in_sec = int(input('enter time in sec :'))
hour = int(time_in_sec /3600)
minutes = int((time_in_sec % 3600) / 60)
sec = int((time_in_sec % 3600) % 60)
time_on_format = f'{hour} hours- {minutes} minutes - {sec} seconds'
print(time_on_format)

enter time in sec :123456789
34293 hours- 33 minutes - 9 seconds

In [34]:
''' A milk vendor buys milk at the rate of 3.25/lt then adds a litre of water for every
4 litres of milk and sells the water milk at the rate of 4.15/lt. Calculate the gain
for milk vendor.'''
intial_milk = float(input('enter bought milk in ltrs:'))
final_milk = (buy_milk * 0.25) + buy_milk
buy_price = float(input('enter bought milk price per liter:')) 
sell_price = float(input('enter sell milk price per ltrs:'))
profit = (final_milk * sell_price) - (intial_milk * buy_price)
print(profit)

enter bought milk in ltrs:4
enter bought milk price per liter:3.25
enter sell milk price per ltrs:4.15
7.75

In [36]:
'''The temperature of the city is input through the keyboard in Fahrenheit. Write
a program to convert into Celsius.'''
temp_farenheit = float(input('enter temp in farenheit :'))
temp_celsius = (temp_farenheit - 32) *(5/9)
print(temp_celsius)

enter temp in farenheit :98.6
37.0

In [37]:
'''Two numbers are input into two locations ‘a’ and ‘b’. Write a program to
interchange the contents of ‘a’ and ‘b’ without using temporary variables.'''
a = 20
b = 10
a , b = b , a
print(a,b)

10 20

In [41]:
'''Given the coordinates of two points (x1, y1) and (x2, y2). Write a program to find
the distance between these two points.'''
x1 , y1 = 4,3
x2 , y2 = 0,0
distance = (((x2 - x1) ** 2) + ((y2 - y1) ** 2))**.5
print(distance)

5.0

In [4]:
'''Rajesh’s basic salary is input through the keyboard. His D.A. is 40% of basic
salary, and H.R.A. is 20% of basic salary. Write a program to calculate his
gross salary.'''
basic_salary = float(input('enter basic salary in numbers:'))
da = basic_salary * .4
hra = basic_salary * .2
gross_salary = basic_salary + da + hra
gross_salary

enter basic salary in numbers:40000

64000.0

In [3]:
'''The distance between two cities in Km. is input through the keyboard. Write a
program to convert and print the result in meters and centimetres.'''
distance = float(input('enter the distance in kms :'))
distance_mts = distance * 1000
distance_cm = distance * 100000
print(f'distance in meters {distance_mts},distance in cms {distance_cm}')

enter the distance in kms :1
distance in meters 1000.0,distance in cms 100000.0

In [4]:
''' Write a program which accepts the amount in dollars and convert into rupees.'''
amount_in_dollars = float(input('enter the money in dollars:'))

amount_in_rupees = amount_in_dollars * 82.51
print(amount_in_rupees)

enter the money in dollars:50
4125.5

In [6]:
'''Write a program to read your address and print it.'''
address = input ( "Enter the address: " )
print("Address is: ",address)

Enter the address: gollaprolu,ap
Address is:  gollaprolu,ap

In [7]:
''' Write a program to print the area of a triangle if b and h values are given.'''
base = float(input('enter the base in cms:'))
height = float(input('enter the height in cms:'))
area_triangle = base * height * .5
print(area_triangle)

enter the base in cms:5
enter the height in cms:5
12.5

In [8]:
''' Write a program to print the area of a triangle if three sides are given.'''
a = float(input('enter the side 1 in cms:'))
b = float(input('enter the side 2 in cms:'))
c = float(input('enter the side 3 in cms:'))
s = ( a + b + c)/2
area_triangle = (s * (s - a) * (s - b) * (s - c)) ** 0.5
print(area_triangle)

enter the side 1 in cms:2
enter the side 2 in cms:2
enter the side 3 in cms:2
1.7320508075688772

In [7]:
# Write a program to read the marks of 3 subjects and display the total, average,class.
telugu = float(input('enter the telugu marks:'))
english = float(input('enter the english marks:'))
hindi = float(input('enter the hindi marks:'))
total = telugu + english + hindi
average = (total)/ 3

if average < 40 and average >= 0 :
    class_ = 'fail'
elif average >= 40 and average < 65:
    class_ = 'third'
elif average >= 65 and average < 80:
    class_ = 'second'
elif average >= 80 and average < 101:
    class_ = 'first'
else:
    class_ = 'invalid input'
    
print(class_)

enter the telugu marks:101
enter the english marks:101
enter the hindi marks:101
invalid input

In [13]:
# Write a program to check whether the given number is positive or negative.
num = float(input('enter any number: '))
if num > 0:
    print(f' {num} is positive')
elif num < 0:
    print(f' {num} is negative')
else:
    print(f'{num} is neither positive nor negative ')

enter any number: -2
 -2.0 is negative

In [20]:
# Write a program to find out the given number is odd or even.
num = int(input('enter any number: '))
if num % 2 == 0:
    print(f' {num} is even')
else:
    print(f' {num} is odd')

enter any number: 3
 3 is odd

In [21]:
# Write a program to find smallest of given two numbers.
a = int(input('enter number:'))
b = int(input('enter number:'))
if a < b :
    print(f'{a} is smaller than {b}')
elif b < a:
    print(f'{b} is smaller than {a}')

enter number:5
enter number:4
4 is smaller than 5

In [2]:
# Write a program to find biggest of given three numbers.
x = int(input('enter x number:'))
y = int(input('enter y number:'))
z = int(input('enter z number:'))
if x > y and x > z:
    print(f'{x} is greater than {y},{z}')
elif y > x and y > z:
    print(f'{y} is greater than {x},{z}')
else:
    print(f'{z} is greater than {y},{x}')

enter x number:4
enter y number:5
enter z number:3
5 is greater than 4,3

In [4]:
# Write a program to check whether the given year is leap year or not.
year = int(input('enter year:'))
if year % 4 == 0:
    print(f'{year} is leap year')
else:
    print(f'{year} is not leap year')

enter year:2100
2100 is leap year

In [9]:
# Write a program to find the roots of a given quadratic equation and print the nature of roots.

b = 5 ; c = 6 ; a = 1

d = (b**2) - (4 * a * c)

x1 = (-b + (b**2 - (4*a*c))) / 2 * a
x2 = (-b - (b**2 - (4*a*c))) / 2 * a

print(x1,x2)

if d > 0:
    print('real and distinct')
elif d == 0:
    print('real and equal')
elif d < 0:
    print('complex and distinct')

-2.0 -3.0
real and distinct

In [3]:
#Write a program to read positive numbers continuously until negative number is given by using ‘if’.
num = int(input('enter num:'))
flag = True

while flag:
    num = int(input('enter num:'))
    if num >= 0:
        pass
    else:
        flag = False

enter num:0
enter num:1
enter num:324
enter num:-234

In [ ]:
# Write a program to read ten numbers and print their sum by using ‘if’ statement.
flag = True; _sum = 0; n = 1
while flag:
    _sum += int(input('Enter a num :'))
    n += 1
    if n <=10:
        pass
    else:
        
        flag = False
    print(f'Total sum is {_sum}')

In [12]:
# Write a program to read ten numbers and print their sum by using ‘if’ statement.
_sum = 0; n = 1
while n <= 10:
    _sum += int(input('Enter a num :'))
    n += 1
    
print(f'Total sum is {_sum}')

Enter a num :1
Enter a num :1
Enter a num :1
Enter a num :1
Enter a num :1
Enter a num :1
Enter a num :1
Enter a num :1
Enter a num :1
Enter a num :1
Total sum is 10

In [13]:
sum = 0

# Read ten numbers
for i in range(1, 11):
    number = int(input("Enter number {}: ".format(i)))
    
    # Check if the number is positive
    if number > 0:
        sum += number

print("The sum of positive numbers is:", sum)

Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5
Enter number 6: 6
Enter number 7: 7
Enter number 8: 8
Enter number 9: 9
Enter number 10: 10
The sum of positive numbers is: 55

In [15]:
# Write a program to read three sides a, b, c of a triangle and print the type of the triangle.
a = int(input("Enter side a "))
b = int(input("Enter side b "))
c = int(input("Enter side c "))

if a == b == c:
    print('equilateral')
elif a == b or b == c or a == c:
    print('isosceles')
elif a != b != c:
     print('sacalene')

Enter side a 4
Enter side b 5
Enter side c 5
isosceles

In [20]:
'''Write a program to calculate the monthly income of a person using the
following commission schedule:
Monthly sales income
>= Rs.50,000 Rs.375 + 16% sales.
>= Rs.50,000 but >=Rs.40,000 Rs. 350+14% sales.
<= Rs.40,000 but >=Rs.30,000 Rs. 325+12% sales.
<= Rs.30,000 but >=Rs.20,000 Rs. 300+9% sales.
<= Rs.20,000 but >=Rs.10,000 Rs. 250+5% sales.
<= Rs.10,000 Rs. 200+3% sales.'''

Monthly_sales_income = float(input('enter monthly sales income:'))


if Monthly_sales_income >= 50000:
    income = (375 * 30) + (Monthly_sales_income * 0.16)
elif Monthly_sales_income < 50000 and Monthly_sales_income >= 40000:
    income = (350 * 30) + (Monthly_sales_income * 0.14)
elif Monthly_sales_income < 40000 and Monthly_sales_income >= 30000:
    income = (325 * 30) + (Monthly_sales_income * 0.12)
elif Monthly_sales_income < 30000 and Monthly_sales_income >= 20000:
    income = (300 * 30) + (Monthly_sales_income * 0.09)
elif Monthly_sales_income < 20000 and Monthly_sales_income >= 10000:
    income = (250 * 30) + (Monthly_sales_income * 0.05)
elif Monthly_sales_income <= 20000 and Monthly_sales_income > 0 :
    income = (200 * 30) + (Monthly_sales_income * 0.03)
else:
    income = 'enter valid data'
print(income)

enter monthly sales income:5000
6150.0

In [23]:
'''Write a program to read a 3-digit number and find whether the middle digit is
numerically equal to the sum of the other two digits and prints an appropriate
response.'''
num = input('enter 3 digit number:')

if int(num[1]) == int(num[0]) + int(num[2]):
    print('yes')
else:
    print('no')

enter 3 digit number:123
no

In [24]:
''' A Company insures its drivers in the following cases.
1. If the driver is married.
2. If the driver is unmarried, male and above 30 years of age.
3. if the driver is unmarried, female and above 25 years of age.
In all other cases, the driver is not insured. If the marital status, sex, age of the
driver are the inputs, write a program to determine whether the driver is insured
or not.'''

marital_status = input('enter married or unmarried :')
sex = input('enter male or female:')
age = int(input('enter age in number :'))

if marital_status == 'married':
    print('you are eligible for insurance')
else:
    if sex == 'male' and age > 30:
        print('you are eligible for insurance')
    elif sex == 'female' and age > 25:
        print('you are eligible for insurance')
    else:
        print('you are not eligible for insurance')

enter married or unmarried :married
enter male or female:male
enter age in number :30
you are eligible for insurance

In [35]:
'''Write a program to read the characters continuously until ‘$’ is given and display the number of characters entered.'''

l = []
while True:
    letter = input('enter letter:')
    if len(letter) == 1 and letter != '$':
        l.append(letter)
    else:
        break
print(l)

enter letter:u
enter letter:d
enter letter:s
enter letter:$
['u', 'd', 's']

In [31]:
''' Write a program to read a character and find out whether it is uppercase or lowercase.'''

letter = input('enter letter:')

if letter.islower() == True:
    print('it is lowercase')
else:
    print('it is uppercase')

enter letter:HHUGIUGI
it is uppercase

In [30]:
''' Write a program to print the uppercase letter of a given lowercase.'''

letter = input('enter letter:')

if letter.islower() == True:
    print(letter.upper())
else:
    print(letter.lower())

enter letter:JOIJOIJ
joijoij

In [36]:
''' Write a program to check whether the given input is digit or lowercase character or uppercase character or a special
character.'''

data =input('enter same data :')

if data.isdigit() == True:
    print('it is in number')
elif data.islower() == True:
    print('it is in lower case')
elif data.isupper() == True:
    print('it is in upper case')
elif data in '!@#$%^&*':
    print('data is special characters')
else:
    print('input is invalid')

enter same data :hihi
it is in lower case

In [39]:
'''Write a program to check whether the given alphabet is a vowel or consonant'''
letter = input('enter any one alphabet :')

if letter.isalpha() == True:
    if letter in 'aeiouAEIOU':
        print(f'{letter} is vowel')
    else:
        print(f'{letter} is not vowel')
else:
    print('please enter only alphabets')

enter any one alphabet :F
F is not vowel

In [3]:
'''Write a program to numbers divisible by 7 and multiple of 5, between 1 and 100.'''

for i in range (1,101):
    if i%5==0 and i%7==0:
        print(i,end =',')

35,70,

In [7]:
'''Write a program to find the oldest and youngest among 3 people.'''
person1 = int(input('enter person1 age in number:'))
person2 = int(input('enter person2 age in number:'))
person3 = int(input('enter person3 age in number:'))

if person1 > person2 and person1 >person3:
    print('person1')
elif person2 > person1 and person2 >person3:
    print('person2')
elif person3 > person2 and person3 >person1:
    print('person3')

enter person1 age in number:4
enter person2 age in number:2
enter person3 age in number:5
person3

In [9]:
''' Write a program to emulate a four-function calculator which can perform addition, subtraction, multiplication and 
division. Program should read two real numbers and an operator which tells the operation to be performed.'''
a = int(input('enter number a:'))
b = int(input('enter number b:'))

addition = a + b
substraction = a - b
multiplication = a * b
division = a / b

print('sum :', addition)
print('difference:',substraction)
print('product:',multiplication)
print('division:',division)

enter number a:5
enter number b:2
sum : 7
difference: 3
product: 10
division: 2.5

In [13]:
''' Write a program to read a number and print how many numbers of 500, 100, 20, 10, 5, 2,1 notes are available in the 
given amount.'''

amount = int(input('enter amount in numbers:'))

no_of_500_notes = amount // 500
print('no_of_500_notes:',no_of_500_notes)
no_of_100_notes = (amount % 500) // 100
print('no_of_100_notes:',no_of_100_notes)
no_of_20_notes = ((amount % 500) % 100) // 20
print('no_of_20_notes:',no_of_20_notes)
no_of_10_notes = (((amount % 500) % 100)% 20) // 10
print('no_of_10_notes:',no_of_10_notes)
no_of_5_coins = ((((amount % 500) % 100)% 20)%10) // 5
print('no_of_5_coins:',no_of_5_coins)
no_of_2_coins = ((((amount % 500) % 100)% 20)%10)% 5 // 2
print('no_of_2_coins:',no_of_2_coins)
no_of_1_coins = (((((amount % 500) % 100)% 20)%10)% 5)% 2 // 1
print('no_of_1_coins:',no_of_1_coins)

enter amount in numbers:504878
no_of_500_notes: 1009
no_of_100_notes: 3
no_of_20_notes: 3
no_of_10_notes: 1
no_of_5_coins: 1
no_of_2_coins: 1
no_of_1_coins: 1

In [49]:
''' Write a program to accept a date and print it in words'''
import datetime
a = datetime.datetime(2018,2,15,22,15,14)
a = datetime.datetime.now()
print(a)

2023-06-14 11:09:22.938744

In [50]:
a.strftime('%A %d %B %Y %H:%M:%S:%f')

'Wednesday 14 June 2023 11:09:22:938744'

In [41]:
from datetime import datetime
 
print(datetime.strptime('5/5/2019',
                        '%d/%m/%Y'))

2019-05-05 00:00:00

In [51]:
# Function to convert month number to word
def get_month_name(month):
    months = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
    ]
    return months[month - 1] if 1 <= month <= 12 else ''

# Function to convert day number to word
def get_day_suffix(day):
    if 4 <= day <= 20 or 24 <= day <= 30:
        suffix = 'th'
    else:
        suffixes = ['st', 'nd', 'rd']
        suffix = suffixes[day % 10 - 1] if 1 <= day <= 3 else 'th'
    return suffix

# Function to convert date to words
def convert_date_to_words(date):
    day, month, year = map(int, date.split('/'))

    # Convert day to words
    day_suffix = get_day_suffix(day)
    day_word = str(day) + day_suffix

    # Convert month to words
    month_word = get_month_name(month)

    # Convert year to words
    year_word = str(year)

    # Print the date in words
    print(f'{day_word} {month_word} {year_word}')

# Accept date from user
date = input('Enter the date (in the format DD/MM/YYYY): ')

# Convert and print the date in words
convert_date_to_words(date)

Enter the date (in the format DD/MM/YYYY): 12/05/2020
12th May 2020

In [54]:
'''Write a program to read your name and print it ‘n’ times.'''

nme = input('enter name: ')

name_ = nme * 5
name_

enter name: appu

'appu appu appu appu appu '

In [55]:
''' Write a program to find whether the given numbers existing in an array or not.'''

l = [1,2,3,4,5,6,7,8,9,10]
sample = [1,4,5,6]
for i in sample:
    if i in l:
        print(i,'yes')

1 yes
4 yes
5 yes
6 yes

In [66]:
''' Write a program to find the sum of ‘n’ natural numbers.'''
'''n = 5
add = 0
for i in range(1,n+1):
    add += i
print(add)
'''
i = 1
add = 0
while i<=10:
    add += i
    i +=1
print(add)

55

In [ ]:
''' Write a program to find the sum of ’n’ distinct numbers.'''
number = [1,2,3,4,3,5,5,6,2]
for i in range(set(number)):

In [67]:
''' Write a program to find the sum of even ‘n’ natural numbers.'''
n = 10
sum = 0

for i in range(1,n+1):
    if i % 2 == 0:
        sum += i
print(sum)

30

In [11]:
'''Write a program to display the numbers sequentially from 1 to 99 with 5 numbers on each line.'''
n = 0
for i in range(1,21):
    for j in range(1,6):
        if n <= 99:
            n+=1
            print(n,end=' ')
        else:
            break
    print('\n')

1 2 3 4 5

6 7 8 9 10

11 12 13 14 15

16 17 18 19 20

21 22 23 24 25

26 27 28 29 30

31 32 33 34 35

36 37 38 39 40

41 42 43 44 45

46 47 48 49 50

51 52 53 54 55

56 57 58 59 60

61 62 63 64 65

66 67 68 69 70

71 72 73 74 75

76 77 78 79 80

81 82 83 84 85

86 87 88 89 90

91 92 93 94 95

96 97 98 99 100

In [18]:
''' Write a program to display the numbers sequentially from 1 to 99 with 5 numbers on each column.'''
n = 0
for i in range(1,6):
    for j in range(1,21):
        n += 1
        print(n,end =' ')
    print('\n')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80

81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [1]:
''' Write a program to read 9 elements and print the array elements in 3 x 3 matrix format.'''
final_list = []
for i in range(3):
    sub_list = []
    for j in range(3):
        sub_list.append(int(input()))
    final_list.append(sub_list)
final_list

1
1
3
4
5
8
7
6
4

[[1, 1, 3], [4, 5, 8], [7, 6, 4]]

In [10]:
''' Write a program to display the multiplication table for a given number'''
n = 2
for i in range(1,21):
    product = n * i
    print(f' 2 X {i} = {product}')

 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18
 2 X 10 = 20
 2 X 11 = 22
 2 X 12 = 24
 2 X 13 = 26
 2 X 14 = 28
 2 X 15 = 30
 2 X 16 = 32
 2 X 17 = 34
 2 X 18 = 36
 2 X 19 = 38
 2 X 20 = 40

In [3]:
'''Write a program to find the biggest of the given numbers.'''
l = [2,3,5,7,9,8,6,5,4,2,1]
biggest = 0
for i in l:
    if i > biggest:
        biggest = i
    
print(biggest)

#or
print(max(l))

9
9

In [6]:
'''Write a program to find the second smallest number and its position among the given ‘n’ numbers.'''
l = [3,5,7,9,8,6,5,4,2,1]
l1 = sorted(l)
second_smallest = l1[1]
position_of_element = l.index(second_smallest)
    
print(position_of_element)

8

In [2]:
''' Write a program to find the total number of positive numbers, negative numbers and zeros out of a given 10 real
numbers.'''
positive_count = 0
negative_count = 0
zero_count = 0
l = [3,5,0,-7,-9,0,8,-6,0,5,4,-2,1]
for i in l:
    if i > 0:
        positive_count += 1
    elif i < 0:
        negative_count += 1
    else:
        zero_count += 1
print('zero_count',zero_count)
print('positive_count',positive_count)
print('negative_count',negative_count)

zero_count 3
positive_count 6
negative_count 4

In [8]:
''' Write a program to print the numbers which are divisible by both 3 and 7 from 1 to 100.'''
for i in range(1,101):
    if i % 3 == 0 and i % 7 == 0:
        print(i)

21
42
63
84

In [10]:
'''Write a program to find the given number is prime or not.'''

num = 13
root = num **.5
#print(root)

if num == 1:
    print(f'{num} is not a prime number')
    
else:

    for i in range(2,int(root)+1):
        if num % i == 0:
            print(f'{num} is not a prime number')
            break
    else:
        print(f'{num} is prime')

13 is prime

In [9]:
'''Write a program to find the given number is perfect or not.'''
num = 28
add = 0

for i in range(1,int(num/2)+1):
    if num % i == 0:
        add += i
        
if num == add:
    print('{} is a perfect number'.format(num))
else:
    print('{} is not a perfect number'.format(num))

28 is a perfect number

In [5]:
'''Write a program to find the given number is automorphic or not.'''

num = int(input('enter number:'))
square_num = str( num ** 2)
print(square_num)
n = []

for i in range(len(str(num)),0,-1):
    n.append(square_num[-i])
    last = ''.join(n) 
if num == int(last):
    print(f'yes ,{num} is automorphic')
else:
    print(f'yes ,{num} is not automorphic')

enter number:6
36
yes ,6 is automorphic

In [2]:
number= int(input("Enter a number: "))
square = number ** 2
number_str = str(number)
square_str = str(square)

# Test the program

if square_str.endswith(number_str):
    print(f"{number} is an automorphic number.")
else:
    print(f"{number} is not an automorphic number.")

Enter a number: 45
45 is not an automorphic number.

In [50]:
'''Write a program to find the given number is Armstrong or not.'''
num = 370
add = 0

for i in str(num):
    add += (int(i) ** 3)
if num == add :
    print(f'{num} is an Armstrong number')
else:
    print(f'{num} is not an Armstrong number')

370 is an Armstrong number

In [12]:
'''Write a program to find the given number is palindrome or not.'''

num = 12322
#print(num[::-1])

if str(num) == str(num)[::-1]:
      print('yes palindrome')
else:
    print('not palindrome')

not palindrome

In [15]:
num = 12321
l = []
for i in range(len(str(num)),0,-1):
    l.append(str(num)[i-1])
num1 = "".join(l)

print(num1)
if str(num) == num1:
      print('yes palindrome')
else:
    print('not palindrome')

12321
yes palindrome

In [12]:
'''Write a program to find the sum and product of the individual digits of a given number.'''

num = 12345
sum = 0
product = 1

for i in str(num):
    sum += int(i)
    product *= int(i)
    
print(sum,product)

15 120

In [3]:
''' Write a program to accept maximum of 6 digits number and find out the sum
of even digits of that number and multiplication of odd digits of that number.'''
l = []
for i in range(1,7):
    num = input('enter any number:')
    l.append(num)
n = ''.join(l)

sum_of_even = 0
product_of_odd = 1

for i in n:
    if int(i) % 2 == 0:
        sum_of_even += int(i)
    elif int(i) % 2 == 1:
        product_of_odd *= int(i)
        
print('sum of even numbers in {} is {}'.format(n,sum_of_even))
print('product of odd numbers in {} is {}'.format(n,product_of_odd))

enter any number:4
enter any number:5
enter any number:6
enter any number:7
enter any number:8
enter any number:9
sum of even numbers in 456789 is 18
product of odd numbers in 456789 is 315

In [15]:
''' Write a program to find the number of digits of a given number.'''

num = 1234567
count = 0
for i in str(num):
    count += 1
print(count)

7

In [24]:
''' Write a program to print the reverse of a given number.'''

num = 1234
print(str(num)[::-1])

#

# for i in range(len(str(num)),0,-1):
#     print(str(num)[i-1],end='')

for i in range(len(str(num))-1,-1,-1):
    print(str(num)[i],end='')

4321
4321

In [24]:
'''Write a program to find the factorial of the given number.'''
num = 5
fact = 1
for i in range(1,num+1):
    fact *= i
print(fact)

120

In [25]:
''' Write a program to print all prime numbers from 1 to 99.'''

n = 100
for num in range(1,n):
    root = num **.5

    if num == 1:
        print(f'{num} is a prime number')

    else:
        #print(num,'Yes')
        for i in range(2,int(root)+1):
            if num % i == 0:
                print(f'{num} is not a prime number')
                break
        else:
            print(f'{num} is prime')

1 is a prime number
2 is prime
3 is prime
4 is not a prime number
5 is prime
6 is not a prime number
7 is prime
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is prime
12 is not a prime number
13 is prime
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is prime
18 is not a prime number
19 is prime
20 is not a prime number
21 is not a prime number
22 is not a prime number
23 is prime
24 is not a prime number
25 is not a prime number
26 is not a prime number
27 is not a prime number
28 is not a prime number
29 is prime
30 is not a prime number
31 is prime
32 is not a prime number
33 is not a prime number
34 is not a prime number
35 is not a prime number
36 is not a prime number
37 is prime
38 is not a prime number
39 is not a prime number
40 is not a prime number
41 is prime
42 is not a prime number
43 is prime
44 is not a prime number
45 is not a prime number
46 is not a prime number
47 is prime
48 is not a prime number
49 is not a prime number
50 is not a prime number
51 is not a prime number
52 is not a prime number
53 is prime
54 is not a prime number
55 is not a prime number
56 is not a prime number
57 is not a prime number
58 is not a prime number
59 is prime
60 is not a prime number
61 is prime
62 is not a prime number
63 is not a prime number
64 is not a prime number
65 is not a prime number
66 is not a prime number
67 is prime
68 is not a prime number
69 is not a prime number
70 is not a prime number
71 is prime
72 is not a prime number
73 is prime
74 is not a prime number
75 is not a prime number
76 is not a prime number
77 is not a prime number
78 is not a prime number
79 is prime
80 is not a prime number
81 is not a prime number
82 is not a prime number
83 is prime
84 is not a prime number
85 is not a prime number
86 is not a prime number
87 is not a prime number
88 is not a prime number
89 is prime
90 is not a prime number
91 is not a prime number
92 is not a prime number
93 is not a prime number
94 is not a prime number
95 is not a prime number
96 is not a prime number
97 is prime
98 is not a prime number
99 is not a prime number

In [28]:
fact = 1
for i in range(1,10):
    fact *= i
    print(f'Factorial of {i} is {fact}')

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 6 is 720
Factorial of 7 is 5040
Factorial of 8 is 40320
Factorial of 9 is 362880

In [34]:
'''Write a program to print the factorial prime from 1 to 99.'''
l = 100   
fact = 1
for i in range(1,l):
    fact *= i
    print(f'factorial of {i} is {fact}')

factorial of 1 is 1
factorial of 2 is 2
factorial of 3 is 6
factorial of 4 is 24
factorial of 5 is 120
factorial of 6 is 720
factorial of 7 is 5040
factorial of 8 is 40320
factorial of 9 is 362880
factorial of 10 is 3628800
factorial of 11 is 39916800
factorial of 12 is 479001600
factorial of 13 is 6227020800
factorial of 14 is 87178291200
factorial of 15 is 1307674368000
factorial of 16 is 20922789888000
factorial of 17 is 355687428096000
factorial of 18 is 6402373705728000
factorial of 19 is 121645100408832000
factorial of 20 is 2432902008176640000
factorial of 21 is 51090942171709440000
factorial of 22 is 1124000727777607680000
factorial of 23 is 25852016738884976640000
factorial of 24 is 620448401733239439360000
factorial of 25 is 15511210043330985984000000
factorial of 26 is 403291461126605635584000000
factorial of 27 is 10888869450418352160768000000
factorial of 28 is 304888344611713860501504000000
factorial of 29 is 8841761993739701954543616000000
factorial of 30 is 265252859812191058636308480000000
factorial of 31 is 8222838654177922817725562880000000
factorial of 32 is 263130836933693530167218012160000000
factorial of 33 is 8683317618811886495518194401280000000
factorial of 34 is 295232799039604140847618609643520000000
factorial of 35 is 10333147966386144929666651337523200000000
factorial of 36 is 371993326789901217467999448150835200000000
factorial of 37 is 13763753091226345046315979581580902400000000
factorial of 38 is 523022617466601111760007224100074291200000000
factorial of 39 is 20397882081197443358640281739902897356800000000
factorial of 40 is 815915283247897734345611269596115894272000000000
factorial of 41 is 33452526613163807108170062053440751665152000000000
factorial of 42 is 1405006117752879898543142606244511569936384000000000
factorial of 43 is 60415263063373835637355132068513997507264512000000000
factorial of 44 is 2658271574788448768043625811014615890319638528000000000
factorial of 45 is 119622220865480194561963161495657715064383733760000000000
factorial of 46 is 5502622159812088949850305428800254892961651752960000000000
factorial of 47 is 258623241511168180642964355153611979969197632389120000000000
factorial of 48 is 12413915592536072670862289047373375038521486354677760000000000
factorial of 49 is 608281864034267560872252163321295376887552831379210240000000000
factorial of 50 is 30414093201713378043612608166064768844377641568960512000000000000
factorial of 51 is 1551118753287382280224243016469303211063259720016986112000000000000
factorial of 52 is 80658175170943878571660636856403766975289505440883277824000000000000
factorial of 53 is 4274883284060025564298013753389399649690343788366813724672000000000000
factorial of 54 is 230843697339241380472092742683027581083278564571807941132288000000000000
factorial of 55 is 12696403353658275925965100847566516959580321051449436762275840000000000000
factorial of 56 is 710998587804863451854045647463724949736497978881168458687447040000000000000
factorial of 57 is 40526919504877216755680601905432322134980384796226602145184481280000000000000
factorial of 58 is 2350561331282878571829474910515074683828862318181142924420699914240000000000000
factorial of 59 is 138683118545689835737939019720389406345902876772687432540821294940160000000000000
factorial of 60 is 8320987112741390144276341183223364380754172606361245952449277696409600000000000000
factorial of 61 is 507580213877224798800856812176625227226004528988036003099405939480985600000000000000
factorial of 62 is 31469973260387937525653122354950764088012280797258232192163168247821107200000000000000
factorial of 63 is 1982608315404440064116146708361898137544773690227268628106279599612729753600000000000000
factorial of 64 is 126886932185884164103433389335161480802865516174545192198801894375214704230400000000000000
factorial of 65 is 8247650592082470666723170306785496252186258551345437492922123134388955774976000000000000000
factorial of 66 is 544344939077443064003729240247842752644293064388798874532860126869671081148416000000000000000
factorial of 67 is 36471110918188685288249859096605464427167635314049524593701628500267962436943872000000000000000
factorial of 68 is 2480035542436830599600990418569171581047399201355367672371710738018221445712183296000000000000000
factorial of 69 is 171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000
factorial of 70 is 11978571669969891796072783721689098736458938142546425857555362864628009582789845319680000000000000000
factorial of 71 is 850478588567862317521167644239926010288584608120796235886430763388588680378079017697280000000000000000
factorial of 72 is 61234458376886086861524070385274672740778091784697328983823014963978384987221689274204160000000000000000
factorial of 73 is 4470115461512684340891257138125051110076800700282905015819080092370422104067183317016903680000000000000000
factorial of 74 is 330788544151938641225953028221253782145683251820934971170611926835411235700971565459250872320000000000000000
factorial of 75 is 24809140811395398091946477116594033660926243886570122837795894512655842677572867409443815424000000000000000000
factorial of 76 is 1885494701666050254987932260861146558230394535379329335672487982961844043495537923117729972224000000000000000000
factorial of 77 is 145183092028285869634070784086308284983740379224208358846781574688061991349156420080065207861248000000000000000000
factorial of 78 is 11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000
factorial of 79 is 894618213078297528685144171539831652069808216779571907213868063227837990693501860533361810841010176000000000000000000
factorial of 80 is 71569457046263802294811533723186532165584657342365752577109445058227039255480148842668944867280814080000000000000000000
factorial of 81 is 5797126020747367985879734231578109105412357244731625958745865049716390179693892056256184534249745940480000000000000000000
factorial of 82 is 475364333701284174842138206989404946643813294067993328617160934076743994734899148613007131808479167119360000000000000000000
factorial of 83 is 39455239697206586511897471180120610571436503407643446275224357528369751562996629334879591940103770870906880000000000000000000
factorial of 84 is 3314240134565353266999387579130131288000666286242049487118846032383059131291716864129885722968716753156177920000000000000000000
factorial of 85 is 281710411438055027694947944226061159480056634330574206405101912752560026159795933451040286452340924018275123200000000000000000000
factorial of 86 is 24227095383672732381765523203441259715284870552429381750838764496720162249742450276789464634901319465571660595200000000000000000000
factorial of 87 is 2107757298379527717213600518699389595229783738061356212322972511214654115727593174080683423236414793504734471782400000000000000000000
factorial of 88 is 185482642257398439114796845645546284380220968949399346684421580986889562184028199319100141244804501828416633516851200000000000000000000
factorial of 89 is 16507955160908461081216919262453619309839666236496541854913520707833171034378509739399912570787600662729080382999756800000000000000000000
factorial of 90 is 1485715964481761497309522733620825737885569961284688766942216863704985393094065876545992131370884059645617234469978112000000000000000000000
factorial of 91 is 135200152767840296255166568759495142147586866476906677791741734597153670771559994765685283954750449427751168336768008192000000000000000000000
factorial of 92 is 12438414054641307255475324325873553077577991715875414356840239582938137710983519518443046123837041347353107486982656753664000000000000000000000
factorial of 93 is 1156772507081641574759205162306240436214753229576413535186142281213246807121467315215203289516844845303838996289387078090752000000000000000000000
factorial of 94 is 108736615665674308027365285256786601004186803580182872307497374434045199869417927630229109214583415458560865651202385340530688000000000000000000000
factorial of 95 is 10329978488239059262599702099394727095397746340117372869212250571234293987594703124871765375385424468563282236864226607350415360000000000000000000000
factorial of 96 is 991677934870949689209571401541893801158183648651267795444376054838492222809091499987689476037000748982075094738965754305639874560000000000000000000000
factorial of 97 is 96192759682482119853328425949563698712343813919172976158104477319333745612481875498805879175589072651261284189679678167647067832320000000000000000000000
factorial of 98 is 9426890448883247745626185743057242473809693764078951663494238777294707070023223798882976159207729119823605850588608460429412647567360000000000000000000000
factorial of 99 is 933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

In [52]:
''' Write a program to print Fibonacci series for a given number.'''
n = 10
l =[0,1]
first = 0
second = 1
next = first + second

for i in range(0,n-2):
    first = l[i]
    second = l[i + 1]
    next = first + second
    l.append(next)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [51]:
n = 10
l =[0,1]
for i in range(0,n-2):
    first = l[i]
    second = l[i + 1]
    next = first + second
    if next < 10:
        l.append(next)
    else:
        break
print(l)

[0, 1, 1, 2, 3, 5, 8]

In [25]:
'''Write a program to find ‘n’ power ‘n’'''
n = 10
power = n ** n
print(power)

10000000000

In [5]:
''' Write a program to find ‘m’ power ’n’'''
m = 10
n = 2
power = m ** n
print(power)

100

In [10]:
m = 4
n = 2
product = 1
for i in range(n):
    product *= m
print(product)

16

In [11]:
''' Write a program to find ‘m’ power ‘n’ value without using (*).'''

import math 
m = 2
n = 3
x = math.pow(m,n)
print(x)

8.0

In [15]:
''' Write a program to find the G.C.D. of ‘n’ numbers.'''
l = [20,10,15]
divisors =[]
for i in range(1,min(l)+1):
    if l[0] % i == 0 and l[1] % i == 0 and l[2] % i == 0:
        divisors.append(i)
        
max(divisors)

5

In [16]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

def find_gcd(numbers):
    result = numbers[0]
    for i in range(1, len(numbers)):
        result = gcd(result, numbers[i])
    return result

# Example usage
numbers = [24, 36, 48, 60]
result = find_gcd(numbers)
print("The GCD of", numbers, "is:", result)

The GCD of [24, 36, 48, 60] is: 12

In [ ]:
''' Write a program to find the L.C.M. of ‘n’ numbers.'''

In [1]:
'''Write a program to convert the given integer into binary and vice versa.'''
n = 123
bin(n)

'0b1111011'

In [3]:
''' Write a program to convert the given integer into octal.'''
oct(n)

'0o173'

In [4]:
''' Write a program to convert the given integer into hexadecimal.'''
hex(n)

'0x7b'

In [12]:
'''Write a program to find the positional value of the given digit in a number. If
the given digit is occurred in various positions, then print all positional values.'''

n = 123212
n_str = str(n)
indices = []

if n_str.count('2') > 1:
    for i in range(len(n_str)):
        if n_str[i] == '2':
            indices.append(i)
print(indices)

[1, 3, 5]

In [149]:
''' Write a program to print the given number in words.'''

' Write a program to print the given number in words.'

In [150]:
'''Write a program to print the ASCII values of numbers from 0 to 255, page by page.'''

'Write a program to print the ASCII values of numbers from 0 to 255, page by page.'

In [125]:
'''Write a program to print the multiples of a given number up to 200.'''

for num in range(1,20):
    factors = []
    if num == 1:
        print(f'Factors of 1 are: 1')
    else:
        for i in range(1,int(num/2)+1):
            if num % i == 0:
                factors.append(i)
        print(f'Factors of {num} are: {factors}')

Factors of 1 are: 1
Factors of 2 are: [1]
Factors of 3 are: [1]
Factors of 4 are: [1, 2]
Factors of 5 are: [1]
Factors of 6 are: [1, 2, 3]
Factors of 7 are: [1]
Factors of 8 are: [1, 2, 4]
Factors of 9 are: [1, 3]
Factors of 10 are: [1, 2, 5]
Factors of 11 are: [1]
Factors of 12 are: [1, 2, 3, 4, 6]
Factors of 13 are: [1]
Factors of 14 are: [1, 2, 7]
Factors of 15 are: [1, 3, 5]
Factors of 16 are: [1, 2, 4, 8]
Factors of 17 are: [1]
Factors of 18 are: [1, 2, 3, 6, 9]
Factors of 19 are: [1]

In [148]:
''' Write a program to find the mean, variance and standard deviation of the given ‘n’ numbers.'''

n = [6,2,3,1,4,4,8,9]

mean = sum(n)/len(n)
print('Mean :',mean)

_sum = 0
for i in n:
    _sum += (i - mean)**2
    
standard_deviation = (_sum/(len(n)-1))**.5
       
print('Standard Deviation:',standard_deviation)

variance =  standard_deviation ** 2
print('Variance:',variance)

Mean : 4.625
Standard Deviation: 2.8252686345094435
Variance: 7.982142857142856

In [1]:
'''Write a program to print the Floyd’s triangle.
1
2 3
4 5 6
7 8 9 10'''
x = 0
for i in range(1,5):
    for j in range(0,i):
        x += 1
        print(x,end = ' ')
    print('\n')

1

2 3

4 5 6

7 8 9 10

In [147]:
'''86. Write a program to print the following triangle.
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5'''

for i in range(1,6):
    for j in range(1,i+1):
        print(j,end = ' ')
    print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [5]:
'''87. Write a program to print the following triangle.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5 '''

for i in range(1,6):
    for j in range(i):
        print(i,end = ' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [7]:
'''Write a program to print the following triangle.
1
1 1
1 2 1
1 2 3 1
1 2 3 4 1
1 2 3 4 5 1'''

for i in range(1,7):
    for j in range(1,i):
        print(j,end=" ")
    print('1')
    print()

1

1 1

1 2 1

1 2 3 1

1 2 3 4 1

1 2 3 4 5 1

In [20]:
'''Write a program to print the following triangle.
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1'''

for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j, end = ' ')
    print('\n')

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [12]:
'''Write a program to print the following triangle.
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5'''

for i in range(1,6):
    for j in range(5,i-1,-1):
        print(i,end = ' ')
    print('\n')

1 1 1 1 1

2 2 2 2

3 3 3

4 4

5

In [14]:
'''Write a program to print the following triangle.
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
'''
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end = ' ')
    print('\n')

5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [145]:
'''Write a program to print the following triangle
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5'''

for i in range(0,5):
    for j in range(5,i,-1):
        print(j, end = ' ')
    print('\n')

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [74]:
'''93. Write a program to print the following triangle
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1'''

for i in range (5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end = ' ')
    print('\n')

5

5 4

5 4 3

5 4 3 2

5 4 3 2 1

In [131]:
'''Write a program to print the following triangle.
1 1 1 1 1
  2 2 2 2
    3 3 3
      4 4
        5'''

for row in range(1,6):
    for  column in range(1,6):
        if row > column:
            print(' ',end = ' ')
        else:
            print(row,end = ' ')
    print('\n')

1 1 1 1 1

  2 2 2 2

    3 3 3

      4 4

        5

In [1]:
''' Write a program to print the following triangle.
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1'''

for row in range(1,6):
    i = 0
    for column in range(1,6):
        if row > column:
            print(' ',end = ' ')
        else:
            i += 1
            print(i,end = ' ')
    print('\n')

1 2 3 4 5

  6 7 8 9

    10 11 12

      13 14

        15

In [133]:
'''96. Write a program to print the following triangle.
1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5'''

for  row in range(1,6):
    for column  in range(1,6):
        if row > column:
            print(' ',end = ' ')
        else:
            print(column,end = ' ')
    print('\n')

1 2 3 4 5

  2 3 4 5

    3 4 5

      4 5

        5

In [135]:
'''Write a program to print the following triangle.
         1
       1 2
     1 2 3
   1 2 3 4
 1 2 3 4 5
'''

for row in range(5,0,-1):
    i = 0
    for column in range(1,6):
        if row > column:
            print(' ',end = ' ')
        else:
            i += 1
            print(i,end = ' ')
    print('\n')

        1

      1 2

    1 2 3

  1 2 3 4

1 2 3 4 5

In [144]:
'''98. Write a program to print the following triangle.
1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5'''

for row in range(1,6):
    for  column in range(1,6):
        if row > column:
            print(' ',end = ' ')
        else:
            print(column,end= ' ')
    print('\n')

1 2 3 4 5

  2 3 4 5

    3 4 5

      4 5

        5

In [138]:
'''9. Write a program to print the following triangle.
5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5'''

for row in range(5,0,-1):
    i = 6
    for column in range(5,0,-1):
        if row < column:
            print(' ',end = ' ')
        else:
            i -= 1
            print(i,end = ' ')
    print('\n')

5 4 3 2 1

  5 4 3 2

    5 4 3

      5 4

        5

In [139]:
'''100. Write a program to print the following triangle.
        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1'''

for row in range(5,0,-1):
    i = 6
    for column in range(1,6):
        if row > column:
            print(' ' ,end = ' ')
        else:
            i -= 1
            print(i, end = ' ')
    print('\n')

        5

      5 4

    5 4 3

  5 4 3 2

5 4 3 2 1

In [141]:
'''Write a program to print the following triangle.
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1
'''

for row in range(1,6):
    for  column in range(5,0,-1):
        if column <= row :
            print(column,end = ' ')
        else:
            print(' ', end = ' ')
    print('\n')

        1

      2 1

    3 2 1

  4 3 2 1

5 4 3 2 1

In [71]:
'''102. Write a program to print the following triangle.
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5'''

for column in range(5,0,-1):
    for row in range(1,6):
        if row >= column:
            print(row,end = ' ')
        else:
            print(' ',end = ' ')
    print('\n')

        5

      4 5

    3 4 5

  2 3 4 5

1 2 3 4 5

In [142]:
'''103. Write a program to print the following triangle.
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5'''

for row in range(1,6):
    for  column in range(5,0,-1):
        if row >= column:
            print(row,end =' ')
        else:
            print(' ',end =' ')
    print('\n')

        1

      2 2

    3 3 3

  4 4 4 4

5 5 5 5 5

In [55]:
'''104. Write a program to print the following triangle.
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1'''
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(i,end = ' ')
    print('\n')

5

4 4

3 3 3

2 2 2 2

1 1 1 1 1

In [143]:
'''Write a program to print the following triangle.
        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1
'''
for row in range(5,0,-1):
    for column in range(1,6):
        if column >= row:
            print(row,end = ' ')
        else:
            print(' ',end = ' ')
    print('\n')

        5

      4 4

    3 3 3

  2 2 2 2

1 1 1 1 1

In [11]:
''' Write a program to print the following triangle.
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1'''
for row in range(5,0,-1):
    for column in range(5,0,-1):
        if row < column:
            print(' ',end = ' ')
        else:
            print(row ,end = ' ')
    print('\n')

5 5 5 5 5

  4 4 4 4

    3 3 3

      2 2

        1

In [3]:
'''Write a program to print the following triangle.
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5'''
'''
****1
***1*2
**1*2*3
*1*2*3*4
1*2*3*4*5'''

for row in range(5,0,-1):
    i = 0
    for column in range(1,6):
        if row > column:
            print(' ',end = '')
        else:
            i += 1
            print(str(i) + " ",end = '')
    print('\n')

    1

   1 2

  1 2 3

 1 2 3 4

1 2 3 4 5

In [75]:
'''Write a program to print the following triangle.
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1'''
n = 5
for row in range(n,0,-1):
    for col in range(n,0,-1):
        if col <= row:
            print(str(row) + " ",end="")
        else:
            print(" ",end="")           
    print()

5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [10]:
'''109. Write a program to print the following triangle.
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5'''
i = 2
for x in range(1,6):
    for j in range(1,x):

1
2 3
4 5 6
7 8 9 10

In [27]:
rows = 6
for i in range(1, rows + 1):
    for j in range(1, i - 1):
        print(j, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [26]:
"""    1 
      1 2 1 
    1 2 3 2 1 
  1 2 3 4 3 2 1 
1 2 3 4 5 4 3 2 1 """

rows = 6
for i in range(1, rows + 1):
    for j in range(rows-1,i-1,-1):
        print(' ',end =" ")
    for j in range(1, i - 1):
        print(j, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [29]:
'''110. Write a program to print the following.
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5'''
for i in range(5,0,-1):
    for j in range(5,-1,-1):
        if i <= j:
            print(" ",end ="")
        else:
            print(str(i) + " ",end ="")
    print()
for i in range(2,6):
    for j in range(5,0,-1):
        if i >= j:
            print(str(i) + " ",end ="")
        else:
            print(" ",end ="")
    print()

 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [ ]:
'''111. Write a program to print the following.
      4
    4 3 4
  4 3 2 3 4
4 3 2 1 2 3 4
  4 3 2 3 4
    4 3 4
      4'''

In [17]:
'''Write a program to print the following.
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
1 5 10 10 5 1'''
rows = 6
for i in range(rows):
    num = 1
    for s in range(rows-1,i-1,-1):
        print(' ',end ="")
    for j in range(i+1):
        print(str(num) + " ",end = "")
        num = num * (i - j)//(j +1)
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1

In [11]:
'''Write a program to compute the series.
1 + 3 + 5 + 7 + 9 +........................ +n'''

n = 50
_sum = 0
series = []
for i in range(1,n+1,2):
    _sum += i
    series.append(i)
    
print(_sum)
print(series)

625
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [13]:
'''14. Write a program to compute the series.
1 + 4 + 9 + 16 +.…………………… + n'''

n = int(input('enter number:'))

i = 1
diff = 1
_sum = 1
series = [1]

while i <= 16:
    diff += 2
    i += diff
    _sum += i
    series.append(i)
    
print(series)
print(_sum)

enter number:50
[1, 4, 9, 16, 25]
55

In [44]:
for i in range(1,10,2):
    for j in range(1,i+1,2):
        print(j,end =" ")
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [41]:
for i in range(9,-1,-2):
    for j in range(1,i+1,2):
        print(j,end =" ")
    print()

1 3 5 7 9
1 3 5 7
1 3 5
1 3
1

In [37]:
'''Write a program to compute the series.
1 + 8 + 27 + 64 +.……………………+ n'''

n = 3
series =  []

for i in range (1,n+1):
    series.append(i ** 3)

print(series)
print(sum(series))

[1, 8, 27]
36

In [38]:
'''Write a program to compute the series.
1 + 3 + 6 + 10 +.……………………+ n'''

n = int(input('enter number:'))
out = []
diff = 2
_sum = 1
out.append(_sum)
flag = True

while flag:
    _sum += diff
    if _sum <= n:
        out.append(_sum)
        diff += 1
        #print(diff, _sum)
    else:
        flag = False

out

enter number:50

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [33]:
# Python3 program to find sum
# series 1, 3, 6, 10, 15, 21...
# and then find its sum.

# Function to find the sum of series
def seriessum(n):
	
	sum = 0
	for i in range(1, n + 1):
		sum += i * (i + 1) / 2
	return sum
	
# Driver code
n = 4
print(seriessum(n))

20.0

In [8]:
n = 50
series = [1]
i = 1
diff = 1
#_sum = 1

while i < n:
    diff += 1
    i += diff
    if i < n:
        series.append(i)
       # _sum += i
    else: 
        break
    
print(series)
#print('sum of series:',_sum)
print('sum of series:',sum(series))

[1, 3, 6, 10, 15, 21, 28, 36, 45]
sum of series: 165

In [10]:
'''Write a program to compute the series.
1 + 4 + 8 + 11 +.…………………...+ n'''

n = 50
series = [1]
i = 1
diff = 2
#_sum = 1

while i < n:
    diff += 1
    i += diff
    if i < n:
        series.append(i)
       # _sum += i
    else: 
        break
    
print(series)
#print('sum of series:',_sum)
print('sum of series:',sum(series))

[1, 4, 8, 13, 19, 26, 34, 43]
sum of series: 148

In [10]:
'''118. Write a program to compute the series.
1! + 2! + 3! + 4! +.………….……...+ n
'''
n = 5
sum_all = 0
for i in range(1,n+1):
    fact = 1
    for j in range(1,(i+1)):
        fact *= j
    sum_all += fact
print(sum_all)

153

In [39]:
'''119. Write a program to compute the series.
1!/1 + 2!/2 + 3!/3 + 4!/4 +.……………+ n!/n'''

n = 5
sum_all = 0
for i in range(1,n+1):
    fact = 1
    for j in range(1,(i+1)):
        fact *= j
    sum_all += (fact/i)
print(sum_all)

34.0

In [ ]:
'''Write a program to compute cosine series.
1 - x2/2! + x4/4! - x6/6! +…………….+ xn/n!'''

In [ ]:
'''121. Write a program to compute sine series.
1 - x3/3! + x5/5! - x7/7! +………………+ xn/n!'''

In [45]:
'''122. Write a program to compute exponential series.
1 + x + x2/2! + x3/3! + x4/4! +………….+ xn/n!'''

x = 2
n = 4
_sum = 1
for i in range(1,n):
    fact = 1
    for j in range(1,i+1):
        fact *= j
    _sum += (x ** i)/fact
print(_sum)

6.333333333333333

In [63]:
'''123. Write a program to compute the following series.
1.0 + 1.1 + 1.2 +1.3 +………..……….+ 2.5'''

res = 1
i = 1
_sum = 1
while i < 2.5:
    res += 0.1
    _sum += res
    i += 0.1
print(_sum)

28.000000000000007

In [46]:
'''Write a program to compute the following series.
1/1 + 1/3 + 1/5 + 1/7 +....................+ 1/41'''

_sum = 0 
for i in range (1,42,2):
    _sum += (1/i)
print(_sum)

2.5040634542669737

In [36]:
'''125. Write a program to compute the following series.
-1 + 2 – 4 + 8 - 16………..…….+ 1024'''

res = -1
i = 1
_sum = -1
while i < 256:
    res *= -2
    _sum += res
    i *= 2
print(_sum,res)

-171 -256

In [18]:
'''1 + 2 + 4 + 8 + 16………..…….+ 1024'''

res = 1
i = 1
_sum = 1
while i < 256:
    res *= 2
    _sum += res
    i *= 2
print(_sum,res)
id(res)

511 256

1941218027920

In [5]:
'''126. Write a program to compute the following series.
1/2 + 3/4 + 5/6 +………..………..+ 99/100'''

_sum = 0 
for i in range (1,100,2):
    _sum += i/(i+1)
print(_sum)

47.7503973308353

In [48]:
# triangle pyramid 
rows = int(input("enter number of rows:"))
for columns in range(0,rows):
    spaces = (rows - (columns+1))
    print(" " * spaces + "*" * (2*columns + 1) )
    #print(" " * spaces + "*" *columns) #for half pyramid
    print()

enter number of rows:5
    *

   ***

  *****

 *******

*********

In [50]:
# triangle inverted pyramid
rows = int(input("enter number of rows:"))
for columns in range(rows,0,-1):
    spaces = rows - columns
    print(" " * spaces + "*" * (2*columns - 1))
    #print(" " * spaces + "*" * columns)
    
    print()

enter number of rows:6
***********

 *********

  *******

   *****

    ***

     *