In [6]:
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
rem = 5
indices = []

for i, x in enumerate(l):
    if x == rem:
        indices.append(i)
print(indices)
        
indices.reverse() 
   
for i in indices:
    l.pop(i)
    
print(l)

[2, 8, 11, 14]
[3, 4, 6, 1, 9, 10, 8, 2, 3, 2, 1]

In [7]:
# 1st 10 numbers in fibnocci series
n = 10
fib = [0,1]
a = 0
b = 1
for i in range (1,n-1):
    c = a+b
    fib.append(c)

    a = b
    b = c
    c = 0
print (fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [59]:
for i in range(5,0,-1):
    for j in range (i):
        print('*',end = ' ')
    print('\n')

* * * * *

* * * *

* * *

* *

*

In [130]:

for i in range(5,0,-1):
    
    for j in range (5,5-i,-1):
        print((2*j)-1,end=' ')
        
    print('\n')

9 7 5 3 1

9 7 5 3

9 7 5

9 7

9

In [111]:

for i in range (len(l)-1,-1,-1):
    print(l[i])

10
9
8
7
6
5
4
3
2
1

In [131]:
for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j,end = ' ')
    print('\n')

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [3]:
num = 9
root = int(num ** 0.5)
if num == 1:
    print('1 is not a prime number')
else:
    for i in range(2,root+1):
        if num % i == 0:
            print(f'{num},{i} is not a prime number')
            break
    else:
        print(f'{num},{i} is a prime number')

9,3 is not a prime number

In [1]:
list1=[3,4,6,1,2]
print(list1)
list1[1:2]

[3, 4, 6, 1, 2]

[4]

In [15]:
s={1,2,3,4,5,2,4,5,7,8}
s

{1, 2, 3, 4, 5, 7, 8}

In [5]:
def temp(a, b):
    a, b = b, a
    return(f'Swapped : a --> {a}, b --> {b}')

In [6]:
x = 10
y = 20

In [3]:
def fun(n):
    if (n > 100):
        return n - 5
    return fun(fun(n+11))

print(fun(45))

100

In [ ]:
x = 20
for i in range(1,10):
    if x % i

In [8]:
print ('x = ', a, ' y = ', b)

10 20

In [4]:
def test(a, b, c, d):
    print(a,b,c,d)

test(1, 2, 3, 4)
#test(a = 1, b = 2, c = 3, 4)
#test(a = 1, b = 2, c = 3, d = 4)
#test(1, 2, 3, d = 4)

1 2 3 4

In [16]:
a={"name":"kokila","firstname":"raparthi","age":23}
a

{'name': 'kokila', 'firstname': 'raparthi', 'age': 23}

In [17]:
l=[1,2,3,4,89]
#l[4]=89
l

[1, 2, 3, 4, 89]

In [18]:
t=23,"kokila",34.5,45
t

(23, 'kokila', 34.5, 45)

In [19]:
#toprint in rverse
l="gayathri is a good girl"
l[-1::]

'l'

In [20]:
#wap to count the no of upper and lower case letters in the sentence
string=' I am Gayathri'
u_count= 0
l_count= 0

for i in string:
    if i.isupper():
        u_count += 1
    if i.islower():
        l_count+= 1
print('no.of upper case letter-'+ str( u_count),'no.of lower case letter-'+ str(l_count))

no.of upper case letter-2 no.of lower case letter-9

In [4]:
for i in range(1,5):
    for j in range (i):
        #if j<=i:
        print(' *',end=' ')
    print('\n')

 *

 *  *

 *  *  *

 *  *  *  *

In [19]:
for i in range (5,0,-1):
    for j in range(i):
        print('*',end = ' ')
    print('\n')

* * * * *

* * * *

* * *

* *

*

In [24]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i,end = ' ')
    print('\n')

5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [2]:
rows = int(input('Enter no. of rows : '))
spaces = rows - 1; col = rows
for i in range(rows):
    for j in range (col):
        if j < spaces:
            print('1',end=' ')
        else:
            print('*',end=' ')
    spaces -= 1; col += 1
    print('\n')

Enter no. of rows : 5
1 1 1 1 *

1 1 1 * * *

1 1 * * * * *

1 * * * * * * *

* * * * * * * * *

In [55]:
rows = int(input('Enter no. of rows : '))
spaces = 1; col = 2 * rows - 1
for i in range(rows):
    for j in range (col):
        if (spaces <= i) | (i <= j):
            print('*',end=' ')
            spaces += 1
        else:
            print(' ',end=' ')
    col-=1
    print('\n')

Enter no. of rows : 4
* * * * * * *

  * * * * *

    * * *

      *

In [47]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 1, -1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print('\n')

Enter number of rows: 7
* * * * * * * * * * *

  * * * * * * * * *

    * * * * * * *

      * * * * *

        * * *

          *

In [21]:
# default split by space
string=' I am Gayathri'
string.split()

['I', 'am', 'Gayathri']

In [22]:
# default split by y
string=' I am Gayathri'
string.split('y')

[' I am Ga', 'athri']

In [23]:
# replace a char or word
string.replace('am','Am')

' I Am Gayathri'

In [9]:
# to remove a starting space or char
"Gayathri".strip ('G')

'ayathri'

In [25]:
# join values in list to string
lst= ["G",'a','y','a','t','h','r','i']
print(''.join(lst))#joining with no space
print('_'.join(lst))#joining with underscore

Gayathri
G_a_y_a_t_h_r_i

In [26]:
(10)# single value
(10,)# single value tuple

(10,)

In [27]:
tup1=(1,34,567,"one")
tup1[2]# extracting a value from tuple with index

567

In [28]:
# extracting value from nested tuple
tup2=((1,2,3,45),'abc','Ab234')
tup2[0][3]# extracting 45 value from 1st value which is a tuple

45

In [29]:
# operations on tuple
tup3=(2,3,34,45,67,78)
print(len(tup3))
print(max(tup3))
print(min(tup3))
print(sorted(tup3))
print(sum(tup3))

6
78
2
[2, 3, 34, 45, 67, 78]
229

In [30]:
#tuple methods
tup=(21,31,34,45,67,78)
print(tup.index(21))
print(tup.count(21))

0
1

In [31]:
#list
Lst=[]
Lst= list()

In [11]:
lst1= ["hai","how",'are','You']
#operations on list
lst1.index('hai')# indexing
lst1[::-1]# slicing i.e reversing
#can also do concatenation and repetition same like in tuple and string

['You', 'are', 'how', 'hai']

In [2]:
#methods on list
lst1.append('gayathri')# append to add value at end
print(lst1)

['hai', 'how', 'are', 'You', 'gayathri']

In [3]:
lst1.insert(5,'!')# insert to add an elemrnt at specific position ,how many times u run it will be added that times
#so give print ststement in below cell

In [4]:
print(lst1)

['hai', 'how', 'are', 'You', 'gayathri', '!']

In [8]:
lst1new=["i am ok"]
lst1.extend(lst1new)# extend will add list to other list
#print in another cell to avoid repeatation

In [7]:
print(lst1)

['hai', 'how', 'are', 'You', 'gayathri', '!', 'i am ok']

In [9]:
lst1[3]="in"
print(lst1)

['hai', 'how', 'are', 'in', 'gayathri', '!', 'i am ok', 'i am ok']

In [17]:
lst2=["1",'2','3','4','5']
lst2.pop()# pop() deletes the last one
print(lst2)

['1', '2', '3', '4']

In [18]:
lst2.pop(1)#deletes the indexpositio value from the list
print(lst2)

['1', '3', '4']

In [19]:
lst2.remove('4')#to remove the given value
print(lst2)

['1', '3']

In [2]:
#a='appu'
"appu".replace('p',"")

'au'

In [2]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [3]:
l.remove(2)
l

[1, 3, 4]

In [ ]:
#wap to create list of 5 clr by user and print list
clrs = []
for i in range(1,6):
    clrs.append(input("Enter any 5 clrs:"))
print(clrs)

Enter any 5 clrs:5

In [15]:
#create new list by multiplying list with  2
abc= [1,2,3,4,5]
new_abc=[]
for i in abc:
    new_abc.append(i* 2)
print(new_abc)

[2, 4, 6, 8, 10]

In [29]:
hype=[1,2,3,4]
hype.reverse()
#print(hype)

In [1]:
# swap 2 values
a=30
b=20
a,b=b,a
print('the values of a,b are ',a,b)

the values of a,b are  20 30

In [3]:
# swap 2 runtimes values using temp
a=input('enter 1')
b=input('enter 2')
temp=a
a=b
b=temp
print('the values of a,b are ',a,b)

enter 120
enter 221
the values of a,b are  21 20

In [13]:
hrs= int(input('enter -'))
rate =int(input('enter rate-'))
if hrs<=40:
    print("wage is -",hrs*rate)
else:
    print(40*rate + (hrs-40)*1.5*rate)

enter -45
enter rate-100
4750.0

In [16]:
h= float(input('enter -'))
w =float(input('enter -'))
bmi= w/(h**2)
print(bmi)
if bmi<18.5:
    print("underweight")
elif bmi>18.5 and bmi<=24.9:
    print("normal weight")
elif bmi>25 and bmi<=29.9:
    print("over weight")
else:
    print("obseity")

enter -1.5
enter -50
22.22222222222222
normal weight

In [1]:
def anp(l,b):
    area=l*b
    perimeter=2*(l+b)
    return(area,perimeter)

In [2]:
anp(2,3)

(6, 10)

In [ ]:
listnum=[1,2,3,4,5,6,7,8,9,10]
primenum=[i for i in listnum if i%i==0
         ]

In [19]:
listnum=[1,2,3,4,5,6,7,8,9,10]
for i in listnum:
    for j in listnum:
        if i%j==0:
            print(i)

1
2
2
3
3
4
4
4
5
5
6
6
6
6
7
7
8
8
8
8
9
9
9
10
10
10
10

In [16]:
string='i love my self'
for i in string:
    if i not in 'aeiou':
        print(i,end='')

lvmyslf

In [17]:
const=[i for i in string if i not in 'aeiou ' ]
const

['l', 'v', 'm', 'y', 's', 'l', 'f']

In [6]:
n1=int(input('enter no.of classes attended-'))
n2=int(input('enter total no.of classes-'))
attendence = n1*100/n2
if attendence>=75:
    print('You can write exam')
else:
    print('are you having any medical problem?')
    answer=input('enter yes/no-')
    if answer== 'yes':
        print('you are eligible to write exam')
    if answer== 'no':
        print('you are not eligible')

enter no.of classes attended-15
enter total no.of classes-20
You can write exam

In [8]:
s1=str(input('enter line of text-'))
s2=str(input('enter string of test-'))
if s2 in s1:
    print('yes')
else:
    print('no')

enter line of text-i
enter string of test-i
yes

In [5]:
#Write a program that asks the user for two numbers and prints Close if the numbers are within .001 of each other and Not
#close otherwise.


a=float(input('enter number1-'))
b=float(input('enter number2-'))
if a>b:
    if (a - b <= 0.001):
        print('closer')
    else:
        print('not closer')
if b>a:
    if (b - a  <= 0.001):
        print('close')
    else:
        print('not close')

enter number1-2
enter number2-1.999
closer

In [8]:
#Write a program to take input of age of 3 people from user and determine the oldest and the youngest among them.

user1=input('enter age of user1-')
user2=input('enter age of user2-')
user3=input('enter age of user3-')
if user1>user2 and user1>user3:
    print('user1 is oldest')
elif user2>user1 and user2>user3:
    print('user2 id oldest')
else:
    print('user3 is oldest')

enter age of user1-35
enter age of user2-36
enter age of user3-34
user2 id oldest

In [12]:

numb=input('enter 6 digit number-')[:6]
print(numb)

enter 6 digit number-123456789
123456

In [7]:
'''#Write a program to accept maximum of 6 digits number and print out the sum of even digits of that number and
multiplication of odd digits of that number.'''


numb = input('enter a number with maximum of 6 digits -')

sum_of_even = 0
product_of_odd = 1

if len(numb) <= 6:
    for i in numb:
        if int(i) % 2 == 0:
            sum_of_even += int(i)
        else:
            product_of_odd *= int(i)
    print(f'sum of even digit numbers is {sum_of_even}, product of odd digit numbers is {product_of_odd}')
else:    
    print('enter 6 digit number')

enter a number with maximum of 6 digits -123456
sum of even digit numbers is 12, product of odd digit numbers is 15

In [10]:
'''#Write a program to check a triangle is equilateral, isosceles or scalene.'''

side1=input('enter age of side1-')
side2=input('enter age of side2-')
side3=input('enter age of side3-')
if side1==side2==side3:
    print('equilateral triangle')
elif side1==side2 or side2==side3 or side1 == side3:
    print('isosceles triangle')
else:
    print('scalene triangle')

enter age of side1-10
enter age of side2-12
enter age of side3-15
scalene triangle

In [26]:
'''#Write a program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700.'''

list2=[]
list1=[]
for i in range (1500,2700):
    if i%5==0 and i%7==0:
        list1.append(i)
    #print()
   # if i%7==0:
       # list2.append(i)
#print('MUltiples of 5 are in the given range are-',list1,
         # 'the numbers divisible by 7 in the given range are-',list2)
print(list1)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [8]:
'''Write a program to prompt the user for a temperature and what units (Celsius or Fahrenheit) the temperature is in and
print the temperature by converting into the other unit. [Hint:- F = 95 C + 32 and C = 9 5 (F − 32)]'''

temp = float(input(''))
units=input('enter the units in which you want to convert either F or C-')
if units=='F':
    units = (9/5 * temp )+ 32
if units =='C':
    units = round(5/9 * (temp - 32),2)
print(units)

97
enter the units in which you want to convert either F or C-C
36.11

In [16]:
'''A store charges Rs.12 per item if you buy less than 10 items. If you buy between 10 and 99 items, the cost is Rs.10 
per item. If you buy 100 or more items, the cost is Rs.7 per item. Write a program that asks the user how many items 
they are buying and prints the total cost.'''

no_of_items=int(input('enter the no.of items-'))
if no_of_items > 99:
    total_amount = no_of_items * 7
    print(total_amount)
elif no_of_items < 10 and no_of_items>0:
    total_amount = no_of_items * 12
    print(total_amount)
    
elif no_of_items >=10 and no_of_items <=99:
    total_amount = no_of_items* 10
    print(total_amount)
else:
    print('invalid input')

enter the no.of items-12
120

In [22]:
"""A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Write a program that
prompt the user for their salary and year of service and print the net bonus amount."""

years_of_service = int(input('enter no.of years :'))
salary = int(input('enter salary :'))

if years_of_service > 5:
    net_bonus_amount = salary * 0.05
    salary += net_bonus_amount
    
print(net_bonus_amount)
print(salary)

enter no.of years :6
enter salary :100000
5000.0
105000.0

In [25]:
'''A shop will give discount of 10% if the cost of purchased quantity is more than 1000. Suppose, one unit will cost 100.
Write a program to prompt the user for quantity and print the total cost for user.)'''

items= int(input('enter total no.of items:'))
total_cost = items * 100
discount= 0
if total_cost > 1000:
    discount = 0.1 *total_cost
    total_cost -= discount
    print(total_cost)

enter total no.of items:11
990.0

In [4]:
i = 3

while i<= 50:
    if i%10 == 3:
        print(i)
    i+=1

3
13
23
33
43

In [13]:
n = int(input('Enter n value: '))
c = 0
i = 1
print('Factors of {}: '.format(n))
while i <= n:
    if n%i == 0:
        print(i)
        c += 1
    i += 1

print('Factors count: ',c)

print("The End")

Enter n value: 20
20
1
2
4
5
10
20
Factors count:  6
The End

In [14]:
count = 5
while count > 1:
    print(count, end = ' ')
    count -= 1

5 4 3 2

In [17]:
count = 1
while count <= 10:
    print(count, end = ' ')
    count+= 1

1 2 3 4 5 6 7 8 9 10

In [19]:
x = "abcdef"
i = "i"
while i in x:
    print(i, end=" ")

In [20]:
i=100

while i <= 200:
    print(i)
    i += 20

100
120
140
160
180
200

In [1]:
"""Write a 'while' loop that prints integers from zero to 5."""
i = 0
while i <=5:
    print (i)
    i+=1

0
1
2
3
4
5

In [2]:
'''Write a 'while' loop that starts at the last character in the string and works its way backwards to the first character 
in the string, printing each letter on a separate line, except backwards.'''

string = 'gayathri'

i = len(string)
while i-1 >= 0:
    print(string[i-1])
    i-=1

i
r
h
t
a
y
a
g

In [1]:
'''Write a program that asks the user to enter a number and prints out all the divisors of that number.'''

number = int(input('enter any number :'))
i = 1
while i <= number :
    if number % i == 0 :
        print(i)
    i += 1

enter any number :12
1
2
3
4
6
12

In [1]:
'''Factorial of any number n is represented by n! and is equal to 1 * 2 * 3 * .... * (n-1) * n.
E.g.-
 4! = 1 * 2 * 3 * 4 = 24
 3! = 3 * 2 * 1 = 6
 2! = 2 * 1 = 2
Also,
 1! = 1
 0! = 1
Write a program to calculate factorial of any given number.'''

n = int(input('enter the number : '))
fact = 1
i = 1
while i <= n :
    fact *= i
    i+= 1
print(fact)

enter the number : 5
120

In [18]:
'''Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.'''
numb4 = int(input('enter a number1 : '))
numb6 = int(input('enter a number2 : '))
i = 1
j = 1
list1 = []
list2 = []

while i <= numb4 :
    if numb4 % i == 0:
        list1.append(i)
    i += 1
print(list1)   
while j <= numb6 :
    if numb6 % j == 0:
        list2.append(j)
    j += 1
print(list2)
tuple1 = set(list1).intersection(set(list2))
print(tuple1)
GCF = max(tuple1)
print(f'GCF of {numb4} and {numb6} is {GCF}')

enter a number1 : 24
enter a number2 : 48
[1, 2, 3, 4, 6, 8, 12, 24]
[1, 2, 3, 4, 6, 8, 12, 16, 24, 48]
{1, 2, 3, 4, 6, 8, 12, 24}
GCF of 24 and 48 is 24

In [9]:
'''Write a program to take integer inputs from user until he/she presses q and print the average and product of all those
numbers.'''
numbers = []
while True:
    inp = input("Enter an integer (press 'q' to quit): ")
    if inp == 'q':
        break
    else:
        numbers.append(int(inp))

if len(numbers) == 0:
    print("No numbers were entered.")
else:
    product = 1
    for num in numbers:
        product *= num
    average = sum(numbers) / len(numbers)
    print(f"Product: {product}")
    print(f"Average: {average}")

Enter an integer (press 'q' to quit): 1
Enter an integer (press 'q' to quit): 2
Enter an integer (press 'q' to quit): 3
Enter an integer (press 'q' to quit): 4
Enter an integer (press 'q' to quit): k

ValueError: invalid literal for int() with base 10: 'k'

In [7]:
'''Write a program to print whether the given number is a palindrome or not. [Hint: A palindrome is nothing but any number
or a string which remains unaltered when reversed].
Input1: 12321
Output: Yes, a Palindrome number
Input2: RACECAR
Output: Yes, a Palindrome string'''
string= '12322'
i=len(string)
string1 = ''
while i-1>=0 :
    string1 += string[i-1]
    i-= 1
if string == string1:
    print('yes the given string is a palindrome')
else:
    print('no, the given string is not a palindrome')

no, the given string is not a palindrome

In [1]:
'''Write a program that prompt the user for their name and how many times to print it. The program should print out the 
user’s name the specified number of times.'''
name= 'Gayathri'
no_of_times = int(input('enter no.of.times that name should be printrd'))
for i in range(no_of_times):
    print(name)

enter no.of.times that name should be printrd5
Gayathri
Gayathri
Gayathri
Gayathri
Gayathri

In [24]:
'''Write a program that prompt the user for their name and prints it in the funny pattern as given in the example below.
# Sample Input
 Python
# Expected Output
 P Py Pyt Pyth Pytho Python'''
inp= input('enter name : ')
for i in range (len(inp)):
    for j in range(0,i+1):
        print(inp[j],end='')
    print('\n')

enter name : python
p

py

pyt

pyth

pytho

python

In [ ]:
'''Write a program that prompt the user to enter a word and then capitalizes every other letter of that word.
# Sample Input
 rhinoceros
# Expected Output
 rHiNoCeRoS'''

In [3]:
'''Write a program that prints out all the integers from 1 to 20 and their squares.
# Expected Output
 1 --- 1
 2 --- 4
 3 --- 9
 ...
 ...
 20 --- 400'''
for i in range(1,21):
    print(i,'---',i**2)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

In [8]:
'''Write a program that uses a 'for' loop to print the numbers 8, 11, 14, 17, 20, . . . , 83, 86, 89.'''
for i in range(8,92,3):
    print(i,end=',')

8,11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,

In [9]:
'''Write a program that uses a 'for' loop to print the numbers 100, 98, 96, . . . , 4, 2.'''
for i in range (100,0,-2):
    print(i,end=',')

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,

In [11]:
'''Write a program that uses a 'for' loop to print numbers from 10 to 1 in descending order.'''
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [25]:
'''Write a program that counts how many of the squares of the numbers from 1 to 1000 end in a 1.'''
count = []
squares=[]
for i in range(1,30):
    sq=i**2
    squares.append(sq)
    
    if sq % 10 ==1 :
        count.append(i)
print(len(count))
print(squares)

6
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

[1, 9, 11, 19, 21, 29]

In [28]:
'''
Write a program that counts how many of the squares of the numbers from 1 to 1000 end in a 4 and how many end in a 9.'''
end4 = []
end9 = []
squares=[]
for i in range(1,50):
    sq=i**2
    squares.append(sq)
    
    if sq % 10 == 4 :
        end4.append(i)
    if sq % 10 == 9 :
        end9.append(i)
print('no.of numbers that end with 4 are -',len(end4))
print('no.of numbers that end with 9 are -',len(end9))
print(squares)

no.of numbers that end with 4 are - 10
no.of numbers that end with 9 are - 10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [32]:
'''Write a program to find all numbers between 1 and 1000 that are divisible by 7 and end in a 6.'''
count = []

for i in range(1,1000):
    if i%7 == 0 and i % 10 ==6 :
        count.append(i)
print(count)

[56, 126, 196, 266, 336, 406, 476, 546, 616, 686, 756, 826, 896, 966]

In [ ]:
'''Write a program to determine how many of the numbers between 1 and 10000 contain the digit 3.'''
for i in range(1,10):

In [9]:
'''Write a program that creates the list [1,11,111,1111,...,111...1] , where the entries have an ever increasing number
of ones, with the last entry having 100 ones.'''
list1 = []
for i in range(1,11):
    for j in range (1,i+1):
        list1.append(1)
        print("1",sep='#',end='')
    print('\n')
print(list1)

1

11

111

1111

11111

111111

1111111

11111111

111111111

1111111111

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [22]:
'''
A jar of Halloween candy contains an unknown amount of candy and if you can guess exactly how much candy is in the bowl,
then you win all the candy. You ask the person in charge the following: If the candy is divided evenly among 5 people,
how many pieces would be left over? The answer is 2 pieces. You then ask about dividing the candy evenly among 6 people,
and the amount left over is 3 pieces. Finally, you ask about dividing the candy evenly among 7 people, and the amount left 
over is 2 pieces. By looking at the bowl, you can tell that there are less than 200 pieces. Write a program to determine 
how many pieces are in the bowl.
'''
for i in range(1,200):
    if i % 5 == 2 and i%6==3 and i%7 ==2:
        print(i)

177

In [23]:
'''Write a program to display the stars in an equilateral triangular form using a single for loop.'''

'Write a program to display the stars in an equilateral triangular form using a single for loop.'

In [68]:
'''Write a program to read a line of text as input from the user and print the count of space characters(' ') in the text
entered.
# Sample Input
 Python is the most powerful language you can still read.
# Expected Output
 9'''
count=[]
string1 = 'Python is the most powerful language you can still read'
for i in string1:
    if i == ' ':
        count.append(i)
print(len(count))

9

In [ ]:
unicodes
x range
object pooling
implementing switchcase
wt other arguments can be passed to print fynction

In [30]:

name = "i\'m gayathri"
name

print(1,2,3,4,sep='#',end=',')

1#2#3#4,

In [10]:
a = 257
b = 257
print(id(a))
print(id(b))

2479713181264
2479713181520

In [23]:
'''Using break statement, write a 'while' loop that prints integers from zero to 15.'''
i=0
while i>=0:
    print(i)
    i+=1
    if i>15:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [31]:
'''Using continue statement, write a 'while' loop that processes only even integers from 0 to 10. '''
i=0
while i<=10:
    i += 1
    if i%2 != 0:
        continue
    else:
        print(i)

2
4
6
8
10

In [50]:
name='gayathri'
string1=''
for i in range(len(name)-1,-1,-1):
    string1+=name[i]
print(string1)

irhtayag

In [53]:
name='gayathri'
list1=[]
for i in range(len(name)-1,-1,-1):
    list1.append(name[i])
name1=''.join(list1)
name1

'irhtayag'

In [17]:
'''Using break statement, write a 'for' loop that takes a list of integers and computes the sum of all the integers up 
until a zero is found in the list.'''
listex=[1,2,3,4,10,5]
sum = 0
for i in listex:
    if i%10 == 0:
        break
    else:
        sum += i
print(sum)

10

In [20]:
'''Using continue statement, write a 'for' loop that takes a list of integers and triples each integer that is even.'''
list_= [1,2,3,4,5,6]
for i in list_:
    if i % 2 == 0:
        print(i*3,end =',')
    else:
        continue

6,12,18,

In [41]:
list1 = [1,2,3,4]

out = lambda x : x**2

for i in list1:
    print(out(i))

1
4
9
16

In [42]:
def power(x):
    return(x**2)

In [45]:
for i in list1:
    print(power(i))

1
4
9
16

In [3]:
'''Write a program that prompts user to enter his first name and last name and print a message "Greetings!!! First name 
Last name" '''
first_name = input('enter first name - ')
last_name = input('enter last name - ')
print(f'Greetings!!! {first_name} {last_name}')

enter first name - Gayathri
enter last name - Raparthi
Greetings!!! Gayathri Raparthi

In [1]:
'''Write a program to take a line of text and a string and print "True" if the string exits in the line of text otherwise 
print "False".'''
line = input('enter first name - ')
string = input('enter last name - ')
list1=list(line.split(' '))
if string in list1:
    print(True)
else:
    print(False)

enter first name - I am Gayathri
enter last name - Gayathri
True

In [1]:
s = 'Apple'
s.replace('p', '$')
#print(s1)
print(s)

Apple

In [8]:
def power(x, y=2):
    r = 1
    for i in range(y):
        r = r * x
    return r

print(power(3))

9

In [10]:
def swap(a, b):
    a, b = b, a
    return(a,b)
'''x = 20
y = 30'''
swap(20,30)

(30, 20)

In [32]:
x = 10
def temp():
    #global x
    x = 20
    return(x)

In [33]:
temp()

20

In [26]:
x

10

In [29]:
def temp1():
    x = 30
    return(x)

In [30]:
temp1()

30

In [34]:
x = 50
def func(x):
    x = 2
func(x)
print('x is ', x)

x is  50

In [35]:
x = 50
def func():
    global x
    print('x is', x)
    x = 2
    print('Changed global x to', x)
func()
print('Value of x is', x)

x is 50
Changed global x to 2
Value of x is 2

In [43]:
def f1(x):
    global x
    x+=1
    print(x)

f1(15)
print("hello")

SyntaxError: name 'x' is parameter and global (3366119049.py, line 2)

In [5]:
l1 = [1,2,3,4,5]
l2 = l1
l2

[1, 2, 3, 4, 5]

In [6]:
l1[0] = 99
print(l1,l2)

[99, 2, 3, 4, 5] [99, 2, 3, 4, 5]

In [7]:
l3 = l1.copy()
print(l3,l1)

[99, 2, 3, 4, 5] [99, 2, 3, 4, 5]

In [8]:
l1[1] =99
print(l3,l1)

[99, 2, 3, 4, 5] [99, 99, 3, 4, 5]

In [2]:
x = [[1,2,3], [0,1,2]]
x1 = x.copy()
print(x1, x)

[[1, 2, 3], [0, 1, 2]] [[1, 2, 3], [0, 1, 2]]

In [3]:
x[1][1] = 999
print(x1, x)

[[1, 2, 3], [0, 999, 2]] [[1, 2, 3], [0, 999, 2]]

In [13]:
import copy

x = [[1,2,3], [0,1,2]]
x1 = copy.deepcopy(x)
print(x1, x)

[[1, 2, 3], [0, 1, 2]] [[1, 2, 3], [0, 1, 2]]

In [14]:
x[1][1] = 999
print(x1, x)

[[1, 2, 3], [0, 1, 2]] [[1, 2, 3], [0, 999, 2]]

In [17]:
import copy

x = [[1,2,3], [0,1,2]]
x1 = copy.copy(x)
print(x1, x)

[[1, 2, 3], [0, 1, 2]] [[1, 2, 3], [0, 1, 2]]

In [18]:
x[1][1] = 999
print(x1, x)

[[1, 2, 3], [0, 999, 2]] [[1, 2, 3], [0, 999, 2]]

In [64]:
import copy

l1=[10, 20, 30, [40]]
l2=copy.deepcopy(l1)
l1[3][0]=90
print(l1)
print(l2)

[10, 20, 30, [90]]
[10, 20, 30, [40]]

In [1]:
def fun(n):
    if (n > 100):
        print(n - 5)
    #print(fun(fun(n+11)))

In [2]:
fun(45)

# list practice

In [3]:
#Write a program that uses list and range to create the list [3,6, 9, . . . , 99] .
list_table_3 = []
i =1
while i <= 100:
    if i % 3 == 0:
        list_table_3.append(i)
    i+=1
list_table_3

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [5]:
'''Write a program to convert a list of characters into a single string.
# Sample Input
 ['a', 'b', 'c', 'd']
# Expected Output
 abcd
'''
list1 = ['a', 'b', 'c', 'd']
lists = ''.join(list1)
lists

'abcd'

In [10]:
'''Write a program to read a string from the user and print the list of characters in the string.
# Sample Input
 abcd
# Expected Output
 ['a', 'b', 'c', 'd']
'''
string1 = 'abcd'
string2 = []
for i in string1:
    string2.append(i)

string2

['a', 'b', 'c', 'd']

In [12]:
'''Write a Python program to find common items from two lists.
# Sample Input
 color1 = ["Red", "Green", "Orange", "White"]
 color2 = ["Black", "Green", "White", "Pink"]
# Expected Output
 ['Green', 'White']'''
color1 = ["Red", "Green", "Orange", "White"]
color2 = ["Black", "Green", "White", "Pink"]

common = []
for i in color1:
    if i in color2:
        common.append(i)
        
common

['Green', 'White']

In [13]:
'''Write a Python program to get the difference between the two lists.
# Sample Input
 list1 = [1, 2, 3, 4]
 list2 = [1, 2]
# Expected Output
 [3,4]
'''
list1 = [1, 2, 3, 4]
list2 = [1, 2]
unique = []
for i in list1:
    if i not in list2:
        unique.append(i)
unique

[3, 4]

In [14]:
'''Write a Python program to get the largest number from a list.
# Sample Input
 list1 = [1, 2, -8, 0]
# Expected Output
 2
'''
list1 = [1, 2, -8, 0]
print(max(list1))

2

In [27]:
'''Write a Python program to find the second smallest number in a list.
# Sample Input
 list1 = [1, 2, -8, -2, 0]
# Expected Output
 -2'''
list1 = [1, 2, -8,-2, 0]
list1.sort()
print(list1[1])

-2

In [36]:
'''Write a Python program to remove duplicates from a list.
# Sample Input
 list1 = [10,20,30,20,10,50,60,40,80,50,40]
# Expected Output
 [10, 20, 30, 50, 60, 40, 80]
'''
list1 = [10,20,30,20,10,50,60,40,80,50,40]
list_new = []

for i in list1:
    if i not in list_new:
        list_new.append(i)
list_new

[10, 20, 30, 50, 60, 40, 80]

In [37]:
'''Write a Python program to sum all the items in a list.
# Sample Input
 list1 = [1, 2, -8]
# Expected Output
 -5'''
list1 = [1, 2, -8]
sum(list1)

-5

In [39]:
'''Write a Python program to multiply all the items in a list.
# Sample Input

# Expected Output
 24'''
list1 = [1, 2, 3, 4]
product = 1

for i in list1:
    product*= i
    
product

24

In [1]:
'''Write a program to find difference between sum of even indexed and odd indexed numbers in a list of numbers.
[Note:- Consider 0th index as even indexed]
# Sample Input
 list1 = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]
# Expected Output
 -10'''
list1 = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]
list_even = []
list_odd = []
for i in range (0,len(list1)):
    if i%2 == 0:
        list_even.append(list1[i])
for i in range (0,len(list1)):
    if i%2 != 0:
        list_odd.append(list1[i])
difference = sum(list_even) - sum(list_odd)
difference

-10

In [3]:
'''Write a program to print the list of numbers which are greater than the average of numbers in the following list.
# Sample Input
 list1 = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]
# Expected Output
 [9, 13, 12, 7]'''
list1 = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]
output=[]
avg = sum(list1)/len(list1)
for i in list1:
    if i > avg:
        output.append(i)
output

[9, 13, 12, 7]

In [6]:
'''Write a program to print a new list containing squares of each element in the following list.
# Sample Input
 list1 = [3, 7, 11, 12, 17, 21]
# Expected Output
 list2 = [9, 49, 121, 144, 289, 441]
'''
list1 = [3, 7, 11, 12, 17, 21]
list2 = []
for i in list1:
    list2.append(i**2)
list2

[9, 49, 121, 144, 289, 441]

In [8]:
'''Write a program to know how many times an element occurred in the list.
# Sample Input
 list1 = [5, 10, 15, 20, 25, 50, 20]
 element = 20 # Expected Output
 2
'''
list1 = [5, 10, 15, 20, 25, 50, 20]
list1.count(20)

2

In [10]:
'''Given a Python list, write a program to find the value 20 in the list, and if it is present, replace the first occurrence
of a value with 200.
# Sample Input
 list1 = [5, 10, 15, 20, 25, 50, 20]
# Expected Output
 list1= [5, 10, 15, 200, 25, 50, 20]
'''
list1 = [5, 10, 15, 20, 25, 50, 20]
j=list1.index(20)
list1.insert(j,200)
list1

[5, 10, 15, 200, 20, 25, 50, 20]

In [14]:
'''Given an input list, write a program to remove the element at index 4 and add it to the 2nd position and also, at the 
end of the list.
# Sample Input
 list1= [54, 44, 27, 79, 91, 41]
# Expected Output
 list1= [34, 54, 11, 67, 89, 43, 94, 11]
'''
list1= [54, 44, 27, 79, 91, 41]
j = list1.pop(4)
list1.insert(0,j)
list1.append(j)
list1

[91, 54, 44, 27, 79, 41, 91]

In [20]:
'''Two lists are given below. Write a program to create a third list by picking an odd-index element from the first list
and even index elements from second.
# Sample Input
 list1 = [3, 6, 9, 12, 15, 18, 21]
 list2 = [4, 8, 12, 16, 20, 24, 28]
# Expected Output
 list3 = [6, 12, 18, 4, 12, 20, 28]'''
list1 = [3, 6, 9, 12, 15, 18, 21]
list2 = [4, 8, 12, 16, 20, 24, 28]
list3 = []
for i in range(len(list1)):
    if i%2 != 0:
        list3.append(list1[i])
for i in range(len(list2)):
    if i%2 == 0:
        list3.append(list2[i])
list3

[6, 12, 18, 4, 12, 20, 28]

In [33]:
'''Write a program to add 7000 after 6000 in the following list.
# Sample Input
 list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# Expected Output
 list1 = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
'''
i=7000
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [39]:
x = []
all(x)

True

In [45]:
n=15

abs(n)
x=abs(3+5j)

x

5.830951894845301

In [54]:
x = '''my name is gayathri'''
print(ascii(x))

'my name is gayathri'

In [63]:
x = format('g',upper())

NameError: name 'upper' is not defined

In [55]:
# Python ascii() on Set
test_set = {"Š", "E", "T"}
print("ascii on Python set:", ascii(test_set))
 
# Python ascii() on List
test_list = ["Ň", "ĕ", "Ŵ"]
print("ascii on Python list:", ascii(test_list))
 
# Python ascii() on Tuple
test_tuple = ("Ģ", "Õ", "Õ", "D")
print("ascii on Python tuple:", ascii(test_tuple))

ascii on Python set: {'\u0160', 'T', 'E'}
ascii on Python list: ['\u0147', '\u0115', '\u0174']
ascii on Python tuple: ('\u0122', '\xd5', '\xd5', 'D')

In [6]:
def tri_recursion(k):
    if k>0:
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result=0
    return(result)
tri_recursion(6)

1
3
6
10
15
21

21

In [3]:
def fun(n):
    if (n > 100):
        return n - 5
    return fun(fun(n+11))

print(fun(45))

100

In [10]:
'''Write a program to insert a new element into tuple of elements at a specified position.'''
tuple1 = (1,2,3,4,5,6,7,8)
t = tuple1 + (11,) # to add at last you concatenate a tuple
print(t)
# to insert in betweeon at any specified position
tuple1= list(tuple1)
tuple1.insert(4,10)
tuple1 = tuple(tuple1)
tuple1

(1, 2, 3, 4, 5, 6, 7, 8, 11)

(1, 2, 3, 4, 10, 5, 6, 7, 8)

In [15]:
'''Write a program to count the number of even and odd numbers from a tuple of numbers.
# Input
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# Expected Output:
Number of even numbers: 5
Number of odd numbers: 4
'''
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
count_even = 0
count_odd = 0
for i in tuple1:
    if i %2 == 0:
        count_even +=1

    if i%2 != 0:
        count_odd +=1
print(f'no.of odd number - {count_odd}')
print(f'no.of even number - {count_even}')

no.of odd number - 5
no.of even number - 4

In [16]:
'''Write a program to modify or replace an existing element of a tuple with a new element.
'''
t2 = (1,2,3,4,5,6)
t2 = list(t2)
t2[2] = 9
t2 = tuple(t2)
t2

(1, 2, 9, 4, 5, 6)

In [21]:
'''Write a program to find Dissimilar Elements in Tuples.
# Input
tuple 1 = (3, 4, 5, 6)
tuple 2 = (5, 7, 4, 10)
# Expected Output
Dissimilar elements = (3, 6, 7, 10)
'''
tuple1 = (3, 4, 5, 6)
tuple2 = (5, 7, 4, 10)
tuple1 = set(tuple1)
tuple2 = set(tuple2)
difference = tuple1.symmetric_difference(tuple2)
difference

{3, 6, 7, 10}

In [32]:
'''Write a program for addition of tuples.
# Input
tuple1 = (10, 4, 5)
tuple2 = (2, 5, 18)
# Expected Output
new_tuple = (12, 9, 23)
'''
tuple1 = (10, 4, 5)
tuple2 = (2, 5, 18)
new_tuple = []
for i in range(len(tuple1)):
    k=tuple1[i]+tuple2[i]
    new_tuple.append(k)
new_tuple = tuple(new_tuple)
new_tuple

(12, 9, 23)

In [33]:
'''Write a program to remove duplicates from tuple.'''
tuple3 = (12, 9, 23,45,2,2,12,25,45)
tuple3 = set(tuple3)
tuple3
#we can also convert into list and print only unique elements

{2, 9, 12, 23, 25, 45}

In [51]:
'''Write a program to sort the following employ data (list of tuples) as per their salaries (each tuple represents employ ID,
name, age and salary)?
data = [(1234, 'Abishek' , 32, 35000), (4532, 'Barathi', 27, 29000), (3455, 'Charan', 31, 37000), (9863, 'Devi', 42, 52000),
        (4852, 'Eswar', 37, 56000), (6481, 'Fathima', 40, 65000), (2793, 'Ganesh', 28, 45000)]
'''
data = [(1234, 'Abishek' , 32, 35000), (4532, 'Barathi', 27, 29000), (3455, 'Charan', 31, 37000), (9863, 'Devi', 42, 52000),
        (4852, 'Eswar', 37, 56000), (6481, 'Fathima', 40, 65000), (2793, 'Ganesh', 28, 45000)]
sorted(data,key = lambda a : a[2],reverse = True)
data.sort(key = lambda a : a[2])
data

TypeError: sorted expected 1 argument, got 2

In [56]:
'''Write a program to count the number of students has computers a one subject from the data given below.'''
students = [ ("John", ["Computers", "Physics", 'Maths']), 
            ("Wasim", ["Maths", "Computers", "Statistics"]), 
            ("Naresh", ["Computers", "Accounting", "Economics"]),
            ("SaiTeja", ["English", "Accounting", "Economics", "Law"]), 
            ("Sravani", ["Sociology", "Economics", "Law", "Stats", "Music"])]
count = 0
for i in students:
    if 'Computers' in i[1]:
        count += 1
print(count)

3

# set practice

In [6]:
# Write a program to create the set {'cat', 1, 2, 3}.

a = {'cat',1,2,3}
a

{1, 2, 3, 'cat'}

In [7]:
# Write a program to find the length of a set {'c', 'a', 't', '1', '2', '3'}.
a = {'c', 'a', 't', '1', '2', '3'}
len(a)

6

In [16]:
'''Write a program to add member(s) in a set.
# Input
set1 = {'Blue'}
set2 = {'Green', 'Yellow'}
# Expected Output
{'Blue', 'Green', 'Yellow'}
'''
set1 = {'Blue'}
set2 = {'Green', 'Yellow'}
set3 = set2.union(set1)
set3

{'Blue', 'Green', 'Yellow'}

In [21]:
'''Write a program to remove an item from a set if it is present in the set.
# Input
set1 = {0, 1, 2, 3, 4, 5}
discard_value = 4
# Expected Output
{0, 1, 2, 3, 5}
'''
set1 = {0, 1, 2, 3, 4, 5}
set1.remove(4)
set1

{0, 1, 2, 3, 5}

In [24]:
'''Write a program to find maximum and the minimum value in a set.
# Input
set1 = {5, 10, 3, 15, 2, 20}
# Expected Output
max = 20
min = 2'''
set1 = {5, 10, 3, 15, 2, 20}
print(max(set1))
print(min(set1))

20
2

In [25]:
'''Write a program to remove all duplicates from a list using sets.
# Input
[2, 3, 4, 2, 7, 3, 4, 8, 9, 1, 2, 3]
# Expected output
{1, 2, 3, 4, 7, 8, 9}
'''
a = [2, 3, 4, 2, 7, 3, 4, 8, 9, 1, 2, 3]
set(a)

{1, 2, 3, 4, 7, 8, 9}

In [8]:
a = [2, 3, 4, 2, 7, 3, 4, 8, 9, 1, 2, 3]
#a.sort()
#print(a)
print(sorted(a))
print(a)

[1, 2, 2, 2, 3, 3, 3, 4, 4, 7, 8, 9]
[2, 3, 4, 2, 7, 3, 4, 8, 9, 1, 2, 3]

In [12]:
b = [2, 3, 4, 2, 7, 3, 4, 8, 9, 1, 2, 3]
b1 = b.sort()
print(b1)
print(b)

None
[1, 2, 2, 2, 3, 3, 3, 4, 4, 7, 8, 9]

In [5]:
'''Write a program to create a set containing the frozenset fs, it should look like {frozenset({'cat', 2, 3, 1})}.'''
fs = frozenset(['cat',2,3,1])
s = {fs}
s

{frozenset({1, 2, 3, 'cat'})}

# dict practice python guru

In [5]:
'''Write a program to prompt the user to give name and marks of 5 different students, store them in dictionary and print it
after sorting the dictionary with respect to their marks.
'''
d = {'gayathri': 24 , 'aparna' : 34 , 'kokila' : 44}
print(sorted(d.items(), key=lambda x:x[0]))

[('aparna', 34), ('gayathri', 24), ('kokila', 44)]

In [18]:
'''Use the dictionary given below whose keys are month names and whose values are the number of days in the corresponding
months.
(a) Ask the user to enter a month name and use the dictionary to tell them how many days are in the month.
(b) Print out all of the keys in alphabetical order.
(c) Print out all of the months with 31 days.
days = { ' January ' : 31, ' February ' : 28, ' March ' : 31, ' April ' : 30,
 ' May ' : 31, ' June ' : 30, ' July ' : 31, ' August ' : 31,
 ' September ' : 30, ' October ' : 31, ' November ' : 30, ' December ' : 31}'''

days = { ' January ' : 31, ' February ' : 28, ' March ' : 31, ' April ' : 30,' May ' : 31, ' June ' : 30, ' July ' : 31, ' August ' : 31,' September ' : 30, ' October ' : 31, ' November ' : 30, ' December ' : 31}


print(days[' January '])
print(sorted(days.keys()))
for month,day in days.items():
    if day == 31:
        print(month)

31
[' April ', ' August ', ' December ', ' February ', ' January ', ' July ', ' June ', ' March ', ' May ', ' November ', ' October ', ' September ']
 January
 March
 May
 July
 August
 October
 December

In [54]:
'''Write a program to count the number of characters (character frequency) in a string.
# Sample Input
 'google'
# Expected Output
 {'g': 2, 'o': 2, 'l': 1, 'e': 1}'''
sample = 'google'
from collections import Counter
ds = Counter(sample)
print(ds)

Counter({'g': 2, 'o': 2, 'l': 1, 'e': 1})

In [29]:
sample = 'google'
ds = {}
#count = 0
for i in sample:
    if i not in ds:
        ds[i] = 1
    else:
        ds[i]+=1  
print(ds)

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

In [27]:
ds['g'] += 1
ds['g']

5

In [3]:
sample = 'aparna'
ds = {}
for i in sample:
    if i not in ds:
        ds[i] = sample.count(i)
    else:
        pass
    
print(ds)

{'a': 3, 'p': 1, 'r': 1, 'n': 1}

In [19]:
x = 'google'
x.count('o')

2

In [66]:
'''Write a program to count the number of occurrences of each letter in word "MISSISSIPPI". Store count of every letter 
with the letter in a dictionary and print the sorted dictionary according to the count of letters.
'''
sample = "MISSISSIPPI"
from collections import Counter
ds = Counter(sample)
print(ds)

Counter({'I': 4, 'S': 4, 'P': 2, 'M': 1})

In [6]:
'''Write a program to count the occurrences of each word in the text given below.
 """Through three cheese trees three free fleas flew.
 While these fleas flew, freezy breeze blew.
 Freezy breeze made these three trees freeze.
 Freezy trees made these trees' cheese freeze.
 That's what made these three free fleas sneeze."""'''
sample1 = "Through three cheese trees three free fleas flew.While these fleas flew, freezy breeze blew.Freezy breeze made these three trees freeze.Freezy trees made these trees' cheese freeze.That's what made these three free fleas sneeze"
 
from collections import Counter
ds = Counter(sample1.split(' '))
ds1 = Counter(sample1)
print(ds)
print(ds1)

Counter({'three': 4, 'these': 4, 'trees': 3, 'fleas': 3, 'made': 3, 'cheese': 2, 'free': 2, 'breeze': 2, 'Through': 1, 'flew.While': 1, 'flew,': 1, 'freezy': 1, 'blew.Freezy': 1, 'freeze.Freezy': 1, "trees'": 1, "freeze.That's": 1, 'what': 1, 'sneeze': 1})
Counter({'e': 65, ' ': 32, 'r': 18, 'h': 15, 's': 15, 't': 14, 'f': 10, 'a': 8, 'z': 8, 'l': 7, 'w': 4, '.': 4, 'y': 3, 'b': 3, 'm': 3, 'd': 3, 'T': 2, 'c': 2, 'F': 2, "'": 2, 'o': 1, 'u': 1, 'g': 1, 'W': 1, 'i': 1, ',': 1, 'n': 1})

In [110]:
'''Write a program to get the frequency of the elements in a list.
# Sample Input
 [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]
# Expected Output
 {10 : 4, 20 : 4, 40 : 2, 50 : 2, 30 : 1}
'''
list1 = [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]
from collections import Counter
ds = Counter(list1)
print(dict(ds) )

{10: 4, 20: 4, 40: 2, 50: 2, 30: 1}

In [88]:
'''Write a program to concatenate following dictionaries to create a new one.
# Sample Input
 dic1 = {1 : 10, 2 : 20}
 dic2 = {3 : 30, 4 : 40}
 dic3 = {5 : 50, 6 : 60}
# Expected Output
 {1 : 10, 2 : 20, 3 : 30, 4 : 40, 5 : 50, 6 : 60}
'''
d1 = {1 : 10, 2 : 20}
d2 = {3 : 30, 4 : 40}
d3 = {5 : 50, 6 : 60}
dic_new = {**d1,**d2,**d3}
dic_new

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
'''Write a program to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are
square of keys.
# Expected Output
 {1 : 1, 2 : 4, 3 : 9, 4 : 16, 5 : 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
'''
ds = {}
for i in range(1,15):
     ds[i] = i*i      

ds

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196}

In [9]:
ds = dict(zip(list(range(1,16)), [i**2 for i in range(1,16)]))
ds

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [17]:
ds = {}
input1 = list(range(1,16))
for i, j in enumerate(input1,1):
    ds[i] = j**2
    
ds

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [24]:
"""Write a Python program to print the sum all the values in a dictionary.
Sample Input
 {'data1' : 100, 'data2' : 54,'data3' : 247}
Expected Output
401"""

d1= {'data1' : 100, 'data2' : 54,'data3' : 247}
d = sum(d1.values())
d

401

In [25]:
'''Write a program that reads through any dictionary given below and prints the following:
(a) All the users whose phone number ends in an 8
(b) All the users that don’t have an email address listed'''
d = [{ ' name ' : ' Todd ' , ' phone ' : '555-1414' , ' email ' : ' todd@mail.net ' }, 
     { ' name ' : ' Helga ' , ' phone ' : ' 555-1618' , ' email ' : ' helga@mail.net ' },
     { ' name ' : ' Princess ' , ' phone ' : ' 555-3141' , ' email ' : '' },
     { ' name ' : ' LJ ' , ' phone ' : ' 555-2718' , ' email ' : ' lj@mail.net ' }]
for i in d:
    if i[' phone '][-1] == '8':
        print(i[' name '])
for i in d:
    if i[' email ']== '':
        print(i[' name '])

 Helga
 LJ
 Princess

In [76]:
from collections import defaultdict
d = defaultdict(list)

d['Apple'].append(30)
print(d)
d['Apple'].append(40)
print(d)

defaultdict(<class 'list'>, {'Apple': [30]})
defaultdict(<class 'list'>, {'Apple': [30, 40]})

In [46]:
"""convert list of lists into single list""" 
l = ['Aparna','gayathri','Kokila','anumapama']
# def a(b):
#     if i[0] == 'a' and i[-1] == 'a':
#         return(i)
    
x =(map(lambda i : i if (i[0] == 'a' and i[-1] == 'a') else "0", l))
print(list(x))

['0', '0', '0', 'anumapama']

In [26]:

l = ['Aparna','gayathri','Kokila','anumapama']
def a(b):
    if b[0] == 'a' and b[-1] == 'a':
        return(b)
x = map(a,l)
list(x)

[None, None, None, 'anumapama']

In [64]:
"""print the list of word by changing 4th letter to captial letter"""l = ['Aparna','gayathri','Kokila','anumapama']
def fourth(x):
    for i in l:
        i=i[0:3].lower() + i[3].upper() + i[4:].lower()
        print(i)
fourth(l)

apaRna
gayAthri
kokIla
anuMapama

In [ ]:
 NCR Program

n = 5
r = 2

# n!
nfact = 1
for x in range(1, n+1):
    nfact = nfact * x

# n-r!
nrfact = 1
for x in range(1, n-r+1):
    nrfact = nrfact * x
    
# r!    
rfact = 1
for x in range(1, r+1):
    rfact = rfact * x
    
print ('nCr: ', nfact/(nrfact*rfact))

## function practice (python guru)

**Write a function that takes a single argument, prints the value of the argument, and returns the argument as a string.**

In [10]:
def fun(a):
    b = str(a)
    return b
x = 2
fun(x)

'2'

**Write a function "change_case" that given a string, returns a string with each upper case letter replaced by a lower case letter and vice-versa.**

In [18]:
def change_case(x):
    if x.islower() and x.isalpha() == True:
        return(x.upper())
    elif x.isupper() and x.isalpha() == True:
        return(x.lower())
    else:
        return('invalid input')
x = 'APPle'
change_case(x)

'invalid input'

**Write a function "remove_vowels" that takes a single argument (string) to remove all the vowels and print it.**

In [24]:
def remove_vowels(x):
    l = []
    if x == str(x):
        for i in x:
            l.append(i)
        for i in l:
            if i in 'AEIOUaeiou':
                l.remove(i)
        l1 = ''.join(l)
        print(l1)
a = 'apple'
remove_vowels(a)

ppl

In [29]:
def remove_vowels(x):
    if x == str(x):
        for i in x:
            if i in 'AEIOUaeiou':
                x1=x.replace(i,'')
    print(x1)
a= 'aparna'
remove_vowels(a)

prn

**Write a function "first_diff" that is given two strings and returns the first location in which the strings differ. If the strings are identical, it should return -1.**

In [47]:
def first_diff(x,y):
    if x == str(x) and y == str(y):
        if x == y:
            return(-1)
        if x != y:
            for i in x:
                if i != y[x.index(i)]:
                    return x.index(i)
a = 'apple'; b = 'apple'                
first_diff(a,b)

-1

**Write a function that takes a variable number of arguments and prints them all.**

In [61]:
def varguments(*args):
    return(args)

varguments((1,2,3,4,5,6),(1,2,3))

((1, 2, 3, 4, 5, 6), (1, 2, 3))

**Write a function that prints the names and values of keyword arguments passed to it.**

In [57]:
def kwarguments(**kwargs):
    return(kwargs)
a = kwarguments(x = 10,y = 20, z = 30)
print(a)

{'x': 10, 'y': 20, 'z': 30}

**Write a function "print_sum" that can receive two integral numbers in string format as arguments and print their sum.**

In [6]:
def print_sum():
    a = input('enter first number - ')
    b = input('enter second number - ')
    sum = int(a) + int (b)
    print(sum)
print_sum()

enter first number - 5
enter second number - 6
11

**Write a function that takes two inputs, a start and stop for a range (inclusive). Find the product and the sum of all the numbers and return the average between those two numbers. Then make a call to the function where you print the result.**

In [4]:
def average():
    a = int(input('enter the range starting - '))
    b = int(input('enter the range ending - '))
    product = 1
    sum = 0
    for i in range(start,end+1):
        product *= i
        sum += i
        average = (product + sum)/2
    print(average)
average()

enter the range starting - 1
enter the range ending - 5
67.5

**Write a function "sum_digits" that can recieve an integer number as argument and returns the sum of the digits of number.**

In [22]:
def sum_digits(*args):
    return(sum(args))

y = sum_digits(1,2,3,4)
print(y)

10

**Write a function that takes 2 integers as arguments, total price, and amount in wallet. Print “You have enough money” if the difference between the wallet and price is 0 or greater; otherwise, print “Get more money”.**

In [24]:
def mny(tp,aw):
    if int(aw) - int(tp) >= 0:
        return (' You have got enough money')
    return('get more money')

total_price = 10
amnt_in_wallet = 9

print(mny(total_price,amnt_in_wallet))

get more money

**Write a function "number_of_factors" that takes an integer and returns how many factors the number has.**

In [5]:
def number_of_factors(x):
    l=[]
    for i in range (1,x+1):
        if x%i == 0:
            l.append(i)
    return len(l)
    
y = 30
z = number_of_factors(y)
print(z)

8

**Write a function "factors" that takes an integer and returns a list of its factors.**

In [8]:
def factors(a):
    l = []
    for i in range (1,a):
        if a % i == 0:
            l.append(i)
    return l
b = 20
x = factors(b)
print(x)

[1, 2, 4, 5, 10]

**Write a function “perfect()” that determines if argument number is a perfect number. Use this function in a program that determines and prints all the perfect numbers between 1 and 10000. [An integer number is said to be “perfect number” if its factors, including 1(but not the number itself), sum to the number. E.g., 6 is a perfect number because 6=1+2+3].**

In [18]:
def perfect(x):
    for i in range(1,100):
        for j in range(1,j):
            if i % j == 0:
                sum = 0
                sum += i
                if sum == i:
                    return(i)

In [51]:
l = []
sum = 0

for i in range(1,500):
    for j in range(1,i):
        if i % j == 0:
            sum += i
            if sum == i:
                temp = 0
                temp = sum
                l.append(temp)
        
                print(l)

[2]

**Write a function "closest" that takes a list of numbers L and a number n and returns the largest element in L that is not larger than n . For instance, if L=[1,6,3,9,11] and n=8 , then the function should return 6, because 6 is the closest thing in L to 8 that is not larger than 8. Don’t worry about if all of the things in L are smaller than n.**

In [15]:
def closest(L):
    for i in L:
        if i<n:
            l1.append(i)
    print (max(l1))
L=[1,6,3,9,11]
l1 = []
n=8
closest(L)

6

**Write a function "is_sorted" that is given a list and returns True if the list is sorted and False otherwise.**

In [10]:
def is_sorted(l):
    l1 = sorted(l)
    if l == l1:
        return ('True')
    else: 
        return ('False')
x = [1,2,3,4,5]
print(is_sorted(x))

True

**Write a function “sum_evens(to_num)” to calculate the sum of the even numbers from 0 to the value of “to_num” passed to the function. Return the sum from the function. Call the function inside print to see the result.**

**Assume the days of the week are numbered 0,1,2,3,4,5,6 from Sunday to Saturday. Write a function which is given the day number, and it returns the day name (a string).**

In [12]:
def day(x):
    day_num = [0,1,2,3,4,5,6]
    day_string = ['sunday','Monday','Tuesday', 'wednesday','Thursaday','Friday','saturady']
    if x == day_num[x]:
        return (day_string[x])
        
x = 2 
y = day(x)
print(y)

Tuesday

In [26]:
def day(x):
    get_day_name = lambda day_number: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][day_number]
    return(get_day_name(x))

day(0)

'Sunday'

In [31]:
def week(x):
    day_string = ['sunday','Monday','Tuesday', 'wednesday','Thursaday','Friday','saturady']
    return(day_string[x])
        
week(0)

'sunday'

In [41]:
day_string = ['sunday','Monday','Tuesday', 'wednesday','Thursaday','Friday','saturady']
day_number = [1,2,3,4,5,6,7]
#get_day_name = lambda day_number: day_string[day_number] if day_number%2 == 0 else 'None'
dict1 = dict(zip(day_number, day_string))
appu = lambda x : dict1[x] if x%2 != 0 else 'Even'
appu(3)

'Tuesday'

In [35]:
get_day_name(3)

'None'

In [23]:
def get_day_name(day_number):
    
    days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    return list(map(lambda x: days[x], day_number))


print(get_day_name([0]))  # Output: ['Sunday', 'Wednesday', 'Saturday']

['Sunday']

**Write a function to find whether there is any odd number in the list passed to the function as an argument.**

In [22]:
def find_odd(l):
    
    for i in l:
        if i%2 == 1:
            return('there is an odd number in list')
l = [2,4,6,5]
x = find_odd(l)
print(x)

there is an odd number in list

**Write a function that takes a list of words and returns the word(s) with longest length.
 Sample Input
 ["Python", "Exercises", "Backend"]
 Expected Output
 Exercises**

In [21]:
def longest_length(l):
    temp = 0
    final = ''
    for i in l:
        if len(i) > temp:
            temp = len(i)
            final = i
    return (final)
    
            
l = ["Python", "Exercises", "Backend"]
longest_length(l)

'Exercises'

**Write a function that takes two arguments, a list and an item, and that appends the item to the list.**

In [45]:
def append_list(l,a):
    l.append(a)
    return(l)
l = [1,2,3,4,5]
a = 6
print(append_list(l,a))

[1, 2, 3, 4, 5, 6]

**Write a function to create a list of the factorials of each of the numbers in the list.
 Sample Input
[2, 3, 4, 5]
 Expected Output
[2, 6, 24, 120]**

In [20]:
def list_fact(l):
    
    l1 =[]
    
    for i in l:
        fac =1
        for j in range (1,i+1):
            fac *= j
        l1.append(fac)
        
    return l1

l = [2,3,4,5,6,7,8,9,10]
x = list_fact(l)
print(x)

[2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

**Write a function to find factorial of numbers from 1 to 10 and store the number as key and its calculated factorial as value in a dictionary.**

In [7]:
def fact(a):
    fac =1
    fac_dict = {}
    
    for i in range(1,a+1):
        fac *= i
        fac_dict.update({i:fac})
    return(fac_dict)
    
b = 10
x = fact(b)
print(x)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880, 10: 3628800}

**Write a function that takes an int argument and uses a while loop to create a right-triangle like shape out of *. The first row should have 1 star and the last should have n stars where n is the argument passed**.

In [8]:
def print_right_triangle(n):
    row = 1  # Initialize the starting row
    while row <= n:
        print('*' * row)  # Print the current row with the corresponding number of stars
        row += 1  # Move to the next row

# Test the function
print_right_triangle(5)

*
**
***
****
*****

In [9]:
i = 1
while i <= 5:
    print('*' * i)
    i+=1

*
**
***
****
*****

In [10]:
for i in range(1,10):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********

In [11]:
def x(l):
    sorted(l)

In [12]:
l =[(1,5,3),(5,3,6),(3,4,5)]
#l1 = sorted(l[1])
l.sort()
print(l)

[(1, 5, 3), (3, 4, 5), (5, 3, 6)]

In [13]:
def common_numb(a,b):
    '''
    '''
    return(list(set(a)&set(b)))
x = [1,2,3,4,5]
y = [4,5,6,7,8]
common = common_numb(x,y)
print(common)

[4, 5]

In [14]:
def sec_highest(l):
    l.sort()
    return(l[1])
a = [1,6,3,4,5] 
x = sec_highest(a)
print(x)

3

In [15]:
def non_repeat_char(x):
    x1 =[]
    for char in x:
        if char not in x1:
            x1.append(char)
        return (x1[0])
word = 'pupa'
x = non_repeat_char(word)
print(x)

p

In [1]:
def check_anagram(a,b):
    if sorted(a) == sorted(b):
        return (f'yes {a},{b} are anagrams')
    else:
        return(f'No, {a},{b} are not anagrams')
x = 'appu'
y =  'uppa'
anagram_check = check_anagram(x,y)
print(anagram_check)

yes appu,uppa are anagrams

In [18]:
a = 4
b = 6
c = 4

s = (a + b + c) / 2

area = ((s - a) * (s - b) * (s - c)) ** 0.5

print(area)

3.0

In [49]:
# Write a program to print the below trianlge using 'for' loop.
#*
#* *
#* * *
#* * * *
#* * * * *

for i in range (1,6):
    print(' * ' * i)
    
print("\n")

for i in range (1,6):
    for j in range(0,i):
         print(' * ',end = ' ')
    print()

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *


 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [26]:
'''Write a program to print the below trianlge using 'for' loop.
 5 4 3 2 1
 5 4 3 2
 5 4 3
 5 4
 5'''

for i in range (1,6):
    for j in range (1,i+1):
        print(j,end = ' ')
    print('\n')
    
print(' another sequence')
    
for i in range (0,5):
    for j in range (5,i,-1):
        print(j,end=' ')
    print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

 another sequence
5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [34]:
'''Write a program to print the below trianlge using 'for' loop.
 5 5 5 5 5
 4 4 4 4
 3 3 3
 2 2
 1'''

for i in range (5,0,-1):
    for j in range (0,i):
        print(i,end = ' ')
    print('\n')

5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [55]:
'''Write a program to print the below trianlge using 'for' loop.
 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5'''

for i in range (1,6):
    for j in range(0,i):
        print(i,end =' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [40]:
'''Write a program to print the below trianlge using 'for' loop.
 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5'''

for i in range (1,6):
    for j in range(1,i+1):
        print(j , end = ' ')
    print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [65]:
''' Write a program to print the below trianlge using 'for' loop.
 5
 4 4
 3 3 3
 2 2 2 2
 1 1 1 1 1'''
for i in range (5,0,-1):
    for j in range(5,i-1,-1):
        print(i , end = ' ')
    print('\n')

5

4 4

3 3 3

2 2 2 2

1 1 1 1 1

In [66]:
'''Write a program to print the below trianlge using 'for' loop.
 5
 5 4
 5 4 3
 5 4 3 2
 5 4 3 2 1'''

for i in range (5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end = ' ')
    print('\n')

5

5 4

5 4 3

5 4 3 2

5 4 3 2 1

In [77]:
'''Write a program to print the below trianlge using 'for' loop.
 1
 2 3
 4 5 6
 7 8 9 10
 11 12 13 14 15'''
c = 0
for i in range(1,6):
    for j in range(0,i):
        c += 1
        print(c,end = ' ')
    print('\n')

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [80]:
# Write a program to print all the numbers which are multiples of 3 and ends with 5 below 100.

for i in range (1,100):
    if i % 3 == 0 and i % 10 == 5:
        print(i,end = ' ')

15 45 75

In [86]:
#Write a program to print the reverse of a given number.

x = '12345'
for i in range(len(x)-1,-1,-1):
    print (x[i],end = '')

54321

In [1]:
''' Write a program to print the digit sum of a given number.
[Hint: The digit sum of a number is the single digit number obtained by repeatedly computing the sum of the digits of the 
number.]'''
x = '10'
sum = 0

if len(x) > 1:
    for i in x:
        sum += int(i)
        x = str(sum)
        #print(x)
    else:
        print('sum of given number : ',x)
else:
    print('sum of given number : ',x)

sum of given number :  1

In [160]:
'''Write a program to check whether the number is a Magic number or not.
[Hint: A number is a magic number, if the recursive sum of all the digits of a number(digit sum) is 1]'''
x = '25'
add = 0

if len(x) > 1:
    for i in x:
        add += int(i)
        x = str(add)
        #print(x)
    else:
        if add == 1:
            print(f'{x} is a magic number')
        else:
            print(f'{x} is not a magic number')

7 is not a magic number

In [164]:
''' Write a program to check whether the given number is perfect number or not.
[Hint: A perfect number is a number whose sum of the factors (excluding itself) is equal to itself]'''
x = 36
add = 0

for i in range(1,x):
    if x % i == 0:
        add += i
if add == x:
    print(f'{x} is a perfct number')
else:
    print(f'{x} is not a perfct number')

36 is not a perfct number

In [168]:
'''A school has following rules for grading system
 a. marks below 45 - Grade E
 b. marks >= 40 - Grade D
 c. marks >= 55 - Grade C
 d. marks >= 70 - Grade B
 e. marks>= 85 - Grade A
Write a program to prompt the user to enter marks and print the corresponding grade.'''

marks = int(input('enter marks :'))

if marks < 40:
    print('Grade E')
elif marks >= 40 and marks <= 54:
    print('Grade D')
elif marks >= 55 and marks <= 69:
    print('Grade C')
elif marks >= 70 and marks <= 84:
    print('Grade B')
else:
    print('Grade A')

enter marks :85
Grade A

In [7]:
'''A company insures its drivers in the following cases
 a. If the driver is married.
 b. If the driver is unmarried, male and above 30 years of age.
 c. If the driver is unmarried, female and above 25 years of age.
 d. In all other cases, the driver is not insured.
If the marital status, gender, age of the drivers are the inputs, write a program to determine whether the driver is 
insured or not.(Use 'nested - if').'''

marital_status = input('enter married or unmarried :')
sex = input('enter male or female:')
age = int(input('enter age in number :'))

if marital_status == 'married':
    print('you are eligible for insurance')
else:
    if sex == 'male' and age > 30:
        print('you are eligible for insurance')
    elif sex == 'female' and age > 25:
        print('you are eligible for insurance')
    else:
        print('you are not eligible for insurance')

enter married or unmarried :unmarried
enter male or female:female
enter age in number :24
you are not eligible for insurance

In [9]:
'''Calculate income tax based on the below given information.
 a. 0% tax - Upto 5 Lakhs
 b. 20% tax - Upto 10 Lakhs
 c. 30% tax - Above 10 Lakhs.'''

salary = int(input('enter salary :'))

if salary <= 500000 and salary > 1:
    income_tax = salary * 0
    print(income_tax)
elif salary <= 1000000 and salary > 500000:
    income_tax = salary * 0.2
    print(income_tax)
elif salary > 1000000 :
    income_tax = salary * 0.3
    print(income_tax)
else:
    print('entered salary amount is invalid')

enter salary :500000
0

In [ ]:
'''Write a program to read a character and print out whether it is digit or uppercase or lowercase or special character.'''
data =input('enter same data :')

if data.isdigit() == True:
    print('it is in number')
elif data.islower() == True:
    print('it is in lower case')
elif data.isupper() == True:
    print('it is in upper case')
elif data in '!@#$%^&*':
    print('data is special characters')
else:
    print('input is invalid')

In [8]:
'''Write a program to prompt the user to enter a temperature in Celsius. The program should print a message based on the 
temperature:
 a. If the temperature is less than -273.15, print "INVALID" because it is below absolute zero.
 b. If it is exactly -273.15, print that the temperature is absolute 0.
 c. If the temperature is between -273.15 and 0, print that the temperature is below freezing.
 d. If it is 0, print that the temperature is at the freezing point.
 e. If it is between 0 and 100, print that the temperature is in the normal range.
 f. If it is 100, print that the temperature is at the boiling point.
 g. If it is above 100, print that the temperature is above the boiling point.'''

temp_in_celsius = float(input('enter temperature in celsius:'))
temp_in_farenheit = (((temp_in_celsius) * 9/5) + 32)
print('Given temparature in farenheit', temp_in_farenheit)

if temp_in_farenheit < -273.15:
    print('invalid')
elif temp_in_farenheit == -273.15:
    print('temperature is absolute 0')
elif temp_in_farenheit > -273.15 and  temp_in_farenheit < 0:
    print('temparatue is below freeszing point')
elif temp_in_farenheit == 0:
    print('temp is at freezing point')
elif temp_in_farenheit > 0 and temp_in_farenheit < 100:
    print('temp is in normal range')
elif temp_in_farenheit == 100:
    print('temp is at the boiling point')
else :
    print('temp is above boiling point')

enter temperature in celsius:169.52777777777777
Given temparature in farenheit 337.15
temp is above boiling point

In [1]:
((-273.15 -32) *5)/9

-169.52777777777777

In [25]:
'''Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using following rules print their place of
service.
 a. if employee is female, then she will work only in urban areas.
 b. if employee is a male and age is in between 20 to 40 then he may work in anywhere
 c. if employee is male and age is in between 40 t0 60 then he will work in urban areas only.
 d. And any other input of age should print "ERROR".'''

sex = input('enter M or F:')
marital_status = input('enter Y or N:')
age = int(input('enter age :'))

if sex == 'F':
    print('allot urban areas')
else:
    if sex == 'M' and age > 20 and age <= 40:
        print(' allot any place')
    elif sex == 'M' and age > 40 and age <= 60:
        print('allot urban areas')
    else:
        print('error')

enter M or F:M
enter Y or N:Y
enter age :19
error

In [22]:
time_hr = int(input('enter hours:'))
time_mins =int(input('enter minutes:'))

if 0 <= time_hr < 23 and 0 <= time_mins <=59:
    _time = ((time_hr * 100) + time_mins)
    print(_time)

    if _time >= 0 and _time <= 1159 :
        print('Good morning!')
    elif _time >= 1200  and _time <= 1759:
        print('Good afternoon!')
    elif _time >= 1800  and _time <= 2159:
        print('Good evening!')
    else:
        print('Good night!')
else:
    print('invalid inputs')

enter hours:0
enter minutes:0
0
Good morning!

In [16]:
l = [(1,'Gayathri','rulgayathri@gmail.com',26),
    (2,'Aparna','aparna@gmail.com',25),
    (3,'Kokila','kokila@gmail.com',22),
    (4,'manasa','manasa@gmail.com',22),]

for rec in l:
    print(rec)
    
a = max(l,key = lambda rec:rec[3])
print(a)

(1, 'Gayathri', 'rulgayathri@gmail.com', 26)
(2, 'Aparna', 'aparna@gmail.com', 25)
(3, 'Kokila', 'kokila@gmail.com', 22)
(4, 'manasa', 'manasa@gmail.com', 22)
(1, 'Gayathri', 'rulgayathri@gmail.com', 26)

In [12]:
l = [1,2,3,4,5,7,5,6,9]
a= filter(lambda x:x % 2 == 0,l)
print(list(a))

[2, 4, 6]

In [6]:
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [18]:
from functools import reduce
l = [1,2,3,4,5]
def add(x,y):
    return x + y
mylist =(reduce(add,l))
mylist

15

In [21]:
def fun(n):
    if n<= 2:
        return 1
    return fun(n-1)-2
fun(10)

-15

In [53]:
l = []
n = int(input("enter 10 number:"))
for i in range(0,n):
    ele= int(input())
    l.append(ele)
for i in range(0,n):
    print("+91",l[i])

enter 10 number:2
87665555555
7777777777
+91 87665555555
+91 7777777777

In [4]:
"""10 8 6 4 2
   10 8 6 4
   10 8 6
   10 8
   10"""
for i in range(1,11,2):
    for j in range(10,i,-2):
        print(j,end=" ")
    print()

10 8 6 4 2
10 8 6 4
10 8 6
10 8
10

In [5]:
"""1 2 3 4 5
     2 3 4 5
       3 4 5
         4 5
           5"""
for i in range(1,6):
    for j in range(1,6):
        if i > j:
            print(" ",end = " ")
        else:
            print(j,end = " ")
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [7]:
"""2 4 6 8 10
     4 6 8 10
       6 8 10
         8 10
           10"""
for i in range(2,11,2):
    for j in range(2,11,2):
        if i > j:
            print(' ',end = ' ')
        else:
            print(j,end = " ")
    print()

2 4 6 8 10
  4 6 8 10
    6 8 10
      8 10
        10

In [8]:
"""10 12 14 16 18 
   12 14 16 18
   14 16 18
   16 18
   18"""
for i in range(19,10,-2):
    for j in range(10,i,2):
        print(j,end = " ")
    print()

10 12 14 16 18
10 12 14 16
10 12 14
10 12
10

In [19]:
#s = "A man, a plan, a canal: Panama"
#s = " "
s = " race a car"
s1 = ""
for i in s:
    if i.isalnum() == True:
        i = i.lower()
        s1 += i
print(s1 == s1[::-1])

###
s_list = [ i.lower() for i in s]
s_list1 = []
for i in s_list:
    if i.isalnum() == True:
        s_list1.append(i)
s1 = "".join(s_list1)

print(s1 == s1[::-1])


###
s1 = [i.lower() for i in s if i.isalnum() == True]
print(s1 == s1[::-1])

False

In [35]:
l = [2,3,4,1,6,7,8,10,9]
n = 10
# which number is missing?
for i in range(1,n+1):
    if i not in l:
        print(f"missing number is {i}") # order of n square

missing number is 5

In [60]:
l = [2, 9, 3, 5, 2, 4, 5, 1, 10, 6, 8, 1, 7, 8, 9, 10, 6, 3, 4] 
# Which number is not repeated
for i in set(l):
    if l.count(i) == 1:
        print(f"Non Repeated numbers are {i}")

sum_ = 2 *(n *(n +1)/2)
num = sum_ - sum(l)
num

Non Repeated numbers are 7

7.0

In [13]:
l = [2, 3, 4, 1, 6, 7, 8, 10, 9, 4] 
# Which number is missing ?
for i in range(1,11):
    if i not in l:
        print(f"Missing number is {i}")
    if l.count(i) == 2:
        print(f"Duplicate number in l is {i}")

Duplicate number in l is 4
Missing number is 5

In [76]:
l = [2, 3, 4, 1, 6, 7, 8, 10, 9, 4] 
l.sort()
print(l)
for i in range(len(l)-1):
    if l[i + 1] - l[i] == 0:
        print("missing number :",l[i] +1)  
        print("duplicate number :",l[i])

[1, 2, 3, 4, 4, 6, 7, 8, 9, 10]
missing number : 5
duplicate number : 4

In [43]:
emps = [
    (1, "a",670),
    (2, "b",657),
    (3, "c",659),
    (4, "d",658)
]

In [58]:
sorted_ = sorted(emps,key = lambda x: x[2])
sorted_

[(2, 'b', 657), (4, 'd', 658), (3, 'c', 659), (1, 'a', 670)]

In [57]:
arr, occur = [1,2,3,4,5,6,7,8,0,1], [0,0,0,0,0,0,0,0,0,0];
#n = int(input("please enter the size of array: "))
# for x in range(n):
#     occur.append(0)
# occur
for x in range(len(arr)):
    /#element = int(input(f"please enter the element of array element between 0 to {n-1} :"))
    #arr.append(element)
    occur[arr[x]]=occur[arr[x]]+1
    
for x in range(n):
    if occur[x]>1:
        print(f"{x} is repeated {occur[x]} times")

1 is repeated 2 times

In [71]:
emp = [['eid', 'name', 'dept', 'salary', 'age'],
        [1238, 'Vicky', 'Maths', 10000, 34],
        [1236, 'Samantha', 'Maths',40000,29],
        [1234, 'John', 'Physics', 23000, 23],
        [1235, 'Christen', 'Maths', 13000, 37],
        [1237, 'Amanda', 'Chemistry', 25000, 42]]

In [72]:
with open ("data.csv","w") as f:
    for row in emp:
        for i in range(len(row)):
            if type(row[i]) != str:
                row[i] = str(row[i])
        line = ",".join(row) + "\n" 
        f.write(line)

In [73]:
with open ("data.csv","r") as f:
    
    cols = f.readline().rstrip('\n').split(',')
    emps = []
    print(cols)

    for line in f:
        emp = line.rstrip('\n').split(',')
        emp[0] = int(emp[0])
        emp[3] = int(emp[3])
        emp[4] = int(emp[4])
        emps.append(emp)

print(max(emps, key=lambda x:x[3]))

['eid', 'name', 'dept', 'salary', 'age']
[1236, 'Samantha', 'Maths', 40000, 29]

In [33]:
#import csv

In [74]:
# with open ("data.csv") as f:
#     data = csv.reader(f)
#     next(data)
#     emps = []
#     for row in data:
#         row [0] = int(row[0])
#         row [3] = int(row[3])
#         row [4] = int(row[4])
#         emps.append(row)
# print(emps)
# print(max(emps, key=lambda x:x[3]))

In [68]:
# emps = [(1238, 'Vicky', 'Maths', 10000, 34),
#         (1236, 'Samantha', 'Maths',40000,29),
#         (1234, 'John', 'Physics', 23000, 23),
#         (1235, 'Christen', 'Maths', 13000, 37),
#         (1237, 'Amanda', 'Chemistry', 25000, 42)]
# fields = ('eid', 'name', 'dept', 'salary', 'age')

# with open ("data.csv","w") as f:
#     emp_data = csv.writer(f)
#     emp_data.writerow(fields)
#     for row in emps:
#         emp_data.writerow(row)

In [1]:
# with open ("data.csv") as f:
#     data = csv.reader(f)
#     #next(data)
#     for row in data:
#         print(row)

In [42]:
strs = ["eat","tea","tan","ate","nat","bat"]
anagram = {}
for word in strs:
    sorted_word = "".join(sorted(word))
    if sorted_word not in anagram:
        anagram[sorted_word] = []
    if sorted_word in anagram:
        anagram[sorted_word].append(word)
anagram.values()

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

In [31]:
strs = ['eat', 'ate', 'done', 'tea', 'soup', 'node']
anagram = {}
for word in strs:
    sorted_word = "".join(sorted(word))
    if sorted_word not in anagram:
        anagram[sorted_word]= []
print(anagram)

for i in anagram:
    for j in strs:
        if sorted(i) == sorted(j):
            anagram[i].append(j)
anagram.values()

{'aet': [], 'ant': [], 'abt': []}

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

In [34]:
strs = ["eat","tea","tan","ate","nat","bat"]
anagram = {}
for word in strs:
    sorted_word = "".join(sorted(word))
    if sorted_word not in anagram:
        anagram[sorted_word]= []

    for i in anagram:
        if sorted(i) == sorted(word):
            anagram[i].append(word)
print(anagram)
anagram.values()

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

In [41]:
word_list = ['eat', 'ate', 'done', 'tea', 'soup', 'node']
    
anagram = {}
for word in word_list:
    sorted_word = "".join(sorted(word))
    if sorted_word in anagram:
        anagram[sorted_word].append(word)
    else:
        anagram[sorted_word] = [word]
        
print(list(anagram.values()))

{'aet': ['eat', 'ate', 'tea'], 'deno': ['done', 'node'], 'opsu': ['soup']}
[['eat', 'ate', 'tea'], ['done', 'node'], ['soup']]

In [19]:
s = [{1,2},[2,1],[3,1]]
s1 = [{"a": {1,2}},{"b":{9,8}}]
s1

[{'a': {1, 2}}, {'b': {8, 9}}]

In [2]:
l = ["salient","silent","listen","kitten","cat"]

anagram = {}

for word in l:
    word_sorted = "".join(sorted(word))
    if word_sorted in anagram:
        anagram[word_sorted].append(word)
    else:
        anagram[word_sorted] = [word]
        
print(len(list(anagram.values())))

4

In [23]:
def Group_Anagrams(l):
    
    anagram = {}

    for word in l:
        word_sorted = "".join(sorted(word))
        if word_sorted in anagram:
            anagram[word_sorted].append(word)
        else:
            anagram[word_sorted] = [word]
            

    return(len(anagram))

In [24]:
list1 = ["salient","silent","listen","kitten","cat"]
list2 = ["bank","arc","car"]
list3 = ["act","thing","below","elbow","night","cat"]

In [25]:
print(Group_Anagrams(list1))
print(Group_Anagrams(list2))
print(Group_Anagrams(list3))

4
2
3

In [54]:
def Group_Anagrams1():
    
    n = int(input("enter no of words:"))
    l = (input("word").split(","))[:n]
        
    anagram = {}

    for word in l:
        word_sorted = "".join(sorted(word))
        if word_sorted in anagram:
            anagram[word_sorted].append(word)
        else:
            anagram[word_sorted] = [word]
            

    return(len(anagram),anagram)

In [57]:
Group_Anagrams1()

enter no of words:3
wordact,act,bank

(2, {'act': ['act', 'act'], 'abkn': ['bank']})

In [53]:
l =[2,1,5,4,3,13,6,9,7,8]
#output : 5,5,13,13,13,13,9,9,8,8

for i in range(len(l)):
    max = l[0]
    for j in range(i,len(l)):
        if l[j] > l[i]:
            max = l[j]
            l[i] = l[j]
            break
print(l)

[5, 5, 13, 13, 13, 13, 9, 9, 8, 8]

In [81]:
lst =[2,1,5,4,3,13,6,9,7,8]
for i in range(len(lst)-1):
    if lst[i+1] > lst[i]:
        lst[i] = lst[i+1]
        break
                   
print(lst)

[2, 5, 5, 4, 3, 13, 6, 9, 7, 8]